{% extends "base.html" %}

{% block title %}Staffs | TPC | CSE | AUS{% endblock %}

{% load template_filters %}
{% block content %}
<div class="container-xxl col-xxl-8 p-3 p-sm-4 p-md-5">
    <div class="table-responsive p-0">
        <table class="table table-hover table-borderless m-0 p-0 sortable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    {% for label in headers_label %}
                    <th scope="col" class="text-nowrap">{{ label }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for staff in staffs %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    {% for property in headers_property %}
                    <td class="text-nowrap">{{ staff|get_item:property }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
{% endblock %}