{% extends "base.html" %}

{% block title %}Recruit Our Students | TPC | CSE | AUS{% endblock %}

{% block content %}
<div class="container-lg col-xxl-8 p-3 p-sm-4 p-md-5">
    <div id="recruitment-post-form" class="col my-3 p-lg-4">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Tell Us about Your Job Offer</h1>
        <form action="#recruitment-post-form" method="POST" class="py-3">
            {% csrf_token %}
            <div class="row g-0 gap-3 mb-3">
                <div class="col-12 col-md">
                    <div class="input-group">
                        <div style="width: 13ch">
                            <div class="form-floating">
                                {{ form.sallary_currency}}
                                <label for="sallary_currency">Currency</label>
                            </div>
                        </div>
                        <div class="form-floating">
                            {{ form.sallary }}
                            {{ form.sallary.label_tag }}
                        </div>
                    </div>
                    {% if form.sallary.help_text %}
                    <div class="form-text ms-3">
                        {{ form.sallary.help_text }}
                    </div>
                    {% endif %}
                </div>
                <div class="col-12 col-md">
                    <div class="input-group">
                        <div style="width: 13ch">
                            <div class="form-floating">
                                {{ form.fee_currency }}
                                <label for="fee_currency">Currency</label>
                            </div>
                        </div>
                        <div class="form-floating">
                            {{ form.fee }}
                            {{ form.fee.label_tag }}
                        </div>
                    </div>
                    {% if form.fee.help_text %}
                    <div class="form-text ms-3">
                        {{ form.fee.help_text }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-floating mb-3">
                {{ form.description }}
                {{ form.description.label_tag }}
            </div>
            <div class="form-floating mb-3">
                {{ form.pending_application_instructions }}
                {{ form.pending_application_instructions.label_tag }}
            </div>
            <div class="form-floating mb-3">
                {{ form.rejected_application_instructions }}
                {{ form.rejected_application_instructions.label_tag }}
            </div>
            <div class="form-floating mb-3">
                {{ form.selected_application_instructions }}
                {{ form.selected_application_instructions.label_tag }}
            </div>
            <div class="form-floating mb-3">
                {{ form.shortlisted_application_instructions }}
                {{ form.shortlisted_application_instructions.label_tag }}
            </div>
            <input type="submit" class="btn btn-primary btn-lg w-100 mb-3" value="Submit">
            {% if success %}
            <div class="alert alert-success" role="alert">
                <i class="bi bi-check-circle"></i>
                <span>{{ success }}</span>
            </div>
            {% endif %}
            {% if error %}
            <div class="alert alert-danger" role="alert">
                <i class="bi bi-exclamation-triangle"></i>
                <span>{{ error }}</span>
            </div>
            {% endif %}
            {% if warning %}
            <div class="alert alert-warning" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <span>{{ error }}</span>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}