{% extends "base.html" %}

{% block title %}TPC | CSE | AUS{% endblock %}

{% block content %}
{% load static %}
<div class="container-xxl col-xxl-8 p-3 p-sm-4 p-md-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-4 border shadow-lg g-0">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            {% for line in home_subheading %}
            <h4 class="fw-bold text-body-emphasis lh-1 mb-0">{{ line }}</h4>
            {% endfor %}
            <h1 class="fw-bold text-body-emphasis lh-1 my-3">{{ home_heading }}</h1>
            <p>
                {{ home_description }}
            </p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img src="{% static 'assets/homeimage.png' %}" class="rounded-lg-3" width="720" alt="">
        </div>
    </div>
    <div class="container-sm my-5 py-5 d-flex justify-content-center">
        <figure>
            <blockquote class="blockquote">
                <p class="display-6 fw-bold text-body-emphasis mb-4 text-center fst-italic">"{{ quote.quote }}"</p>
            </blockquote>
            <figcaption class="blockquote-footer text-end">
                {{ quote.author }}{% if quote.fictional %}, <cite title="Source Title">fictional character</cite>{% endif %}
                {% if quote.source %}
                in <cite title="Source Title">{{ quote.source }}</cite>
                {% endif %}
            </figcaption>
        </figure>
    </div>
    <div class="row align-items-center gap-4 g-0">
        {% if hod %}
        <div class="card col-12 col-lg rounded-4 border shadow-lg">
            <div class="card-body">
                <div class="d-flex align-items-center gap-3">
                    <i class="bi bi-person-circle fs-1"></i>
                    <div class="w-100">
                        <h5 class="card-title">{{ hod.user.get_full_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ hod.designation }} and HOD of CSE</h6>
                    </div>
                </div>
                {% if hod.user.phone_numbers.count > 0 %}
                <div class="d-flex align-items-center gap-3">
                    <i class="bi bi-telephone"></i><span>{{ hod.user.primary_phone_number }}</span>
                    <h6 class="card-subtitle text-body-secondary">
                    </h6>
                </div>
                {% endif %}
                {% if hod.user.emails.count > 0 %}
                <div class="d-flex align-items-center gap-3">
                    <i class="bi bi-envelope"></i>
                    <h6 class="card-subtitle text-body-secondary"><span>{{ hod.user.primary_email }}</span>
                    </h6>
                </div>
                {% endif %}
                {% if message_from_hod %}
                <div class="mt-3">
                    <h5 class="card-title">Message</h5>
                    <p class="card-text">
                        {{ message_from_hod }}
                    </p>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if tpc_head %}
        <div class="card col-12 col-lg rounded-4 border shadow-lg">
            <div class="card-body">
                <div class="d-flex align-items-center gap-3">
                    <i class="bi bi-person-circle fs-1"></i>
                    <div class="w-100">
                        <h5 class="card-title">{{ tpc_head.user.get_full_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary placeholder-glow">{{ tpc_head.designation }}
                            and Head of TPC</h6>
                    </div>
                </div>
                {% if tpc_head.user.phone_numbers.count > 0 %}
                <div class="d-flex align-items-center gap-3">
                    <i class="bi bi-telephone"></i><span>{{ tpc_head.user.primary_phone_number }}</span>
                    <h6 class="card-subtitle text-body-secondary">
                    </h6>
                </div>
                {% endif %}
                {% if tpc_head.user.emails.count > 0 %}
                <div class="d-flex align-items-center gap-3">
                    <i class="bi bi-envelope"></i>
                    <h6 class="card-subtitle text-body-secondary"><span>{{ tpc_head.user.primary_email }}</span>
                    </h6>
                </div>
                {% endif %}
                {% if message_from_tpc_head %}
                <div class="mt-3">
                    <h5 class="card-title">Message</h5>
                    <p class="card-text">
                        {{ message_from_tpc_head }}
                    </p>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    {% if coordinators %}
    <h1 class="fw-bold text-body-emphasis lh-1 mb-5 text-center">Coordinators</h1>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gap-4 g-0">
        {% for coordinator in coordinators %}
        <div class="card rounded-4 border shadow-lg" style="min-width: fit-content;">
            <div class="card-body">
                <div class="d-flex align-items-center gap-3">
                    <i class="bi bi-person-circle fs-1"></i>
                    <div class="w-100">
                        <h5 class="card-title placeholder-glow">{{ coordinator.get_full_name }}</span>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ coordinator.subtext }}</h6>
                    </div>
                </div>
                {% if coordinator.phone_numbers.count > 0 %}
                <div class="d-flex align-items-center gap-3">
                    <i class="bi bi-telephone"></i>
                    <h6 class="card-subtitle text-body-secondary"><span>{{ coordinator.primary_phone_number }}</span>
                    </h6>
                </div>
                {% endif %}
                {% if coordinator.emails.count > 0 %}
                <div class="d-flex align-items-center gap-3">
                    <i class="bi bi-envelope"></i>
                    <h6 class="card-subtitle text-body-secondary"><span>{{ coordinator.primary_email }}</span>
                    </h6>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}