{% extends "base.html" %}

{% block title %}Notices | TPC | CSE | AUS{% endblock %}
{% load humanize %}
{% block content %}
<div class="container-lg col-xxl-8 p-3 p-sm-4 p-md-5">
    <div class="my-5">
        <strong class="display-6 fw-bold text-body-emphasis lh-1">
            {% if type_filter == 'post-update' %}
                Updates
            {% else %}
                Notices
            {% endif %}
        </strong>
        {% if type_filter == 'post-update' %}
        <small class="d-block">for
            <a href="{% url 'view_recruitment_post' post.pk %}">
                {{post.title}} at {{post.company}}
            </a>
        </small>
        {% endif %}
        {% if user_filter == 'me' %}
        <small class="d-block text-body-secondary">
            By {{user.full_name}}
        </small>
        {% endif %}
    </div>

    <nav class="navbar navbar-expand-xl bg-body p-0 mb-3 border rounded-2">
        <div class="container-fluid">
            <a class="lead text-body-emphasis me-3" href="#">Filters</a>
            <div class="d-flex align-items-center gap-2">
                <div class="nav-link dropdown">
                    <a class="nav-link dropdown-toggle p-2" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Sort By
                    </a>
                    <form action="#">
                        <input id="sort-by-form-input" type="hidden" name="sorting" value="{{sorting}}">
                        <input id="ordering-form-input" type="hidden" name="ordering" value="{{ordering}}">
                        <ul class="dropdown-menu" onclick="event.stopPropagation()">
                            <li>
                                <input type="submit"
                                    onclick="document.getElementById('ordering-form-input').value='asc'"
                                    value="Low to High"
                                    class="dropdown-item {% if ordering != 'desc' %} active {% endif %}">
                            </li>
                            <li>
                                <input type="submit"
                                    onclick="document.getElementById('ordering-form-input').value='desc'"
                                    value="High to Low"
                                    class="dropdown-item {% if ordering == 'desc' %} active {% endif %}">
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% for choice in sorting_options %}
                            <li>
                                <input type="submit"
                                    onclick="document.getElementById('sort-by-form-input').value='{{choice.0}}'" value="{{choice.1}}"
                                    class="dropdown-item {% if sorting == choice.0 %} active {% endif %}">
                            </li>
                            {% endfor %}
                        </ul>
                    </form>
                </div>
                <button class="navbar-toggler btn btn-outline-primary rounded-circle p-2 lh-1" type="button"
                    data-bs-toggle="collapse" data-bs-target="#filters-navbar" aria-controls="filters-navbar"
                    aria-expanded="false" aria-label="Toggle filters nav">
                    <span class="bi bi-funnel"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="filters-navbar">
                <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                    {% if request.user.is_superuser or request.user.is_coordinator or request.user.role == 'recruiter' or request.user.role == 'staff' %}
                    <li class="nav-item">
                        <div class="nav-link dropdown">
                            <a class="nav-link dropdown-toggle p-2" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Posted by
                            </a>
                            <form action="#">
                                <input id="user-form-input" type="hidden" name="user-filter">
                                <ul class="dropdown-menu" onclick="event.stopPropagation()">
                                    <li>
                                        <input type="submit"
                                            onclick="document.getElementById('user-form-input').value=''" value="Any"
                                            class="dropdown-item {% if user_filter == '' %} active {% endif %}">
                                    </li>
                                    <li>
                                        <input type="submit"
                                            onclick="document.getElementById('user-form-input').value='me'"
                                            value="Me"
                                            class="dropdown-item {% if user_filter == 'me' %} active {% endif %}">
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <div class="nav-link dropdown">
                            <a class="nav-link dropdown-toggle p-2" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Type
                            </a>
                            <form action="#">
                                <input id="type-form-input" type="hidden" name="type-filter">
                                <ul class="dropdown-menu" onclick="event.stopPropagation()">
                                    <li>
                                        <input type="submit"
                                            onclick="document.getElementById('type-form-input').value=''" value="Any"
                                            class="dropdown-item {% if type_filter == '' %} active {% endif %}">
                                    </li>
                                    <li>
                                        <input type="submit"
                                            onclick="document.getElementById('type-form-input').value='notice'"
                                            value="Notice"
                                            class="dropdown-item {% if type_filter == 'notice' %} active {% endif %}">
                                    </li>
                                    <li>
                                        <input type="submit"
                                            onclick="document.getElementById('type-form-input').value='post-update'"
                                            value="Recruitment Post Update"
                                            class="dropdown-item {% if type_filter == 'post-update' %} active {% endif %}">
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </li>
                    {% if type_filter == 'post-update' %}
                    {% if request.user.is_superuser or request.user.is_coordinator or request.user.role == 'recruiter' or request.user.role == 'student' %}
                    <li class="nav-item">
                        <div class="nav-link dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Recruitment Post
                            </a>
                            <form action="#">
                                <input id="recruitment-post-filter-form-input" type="hidden"
                                    name="recruitment-post-filter">
                                <ul class="dropdown-menu" onclick="event.stopPropagation()">
                                    <li>
                                        <input type="submit"
                                            onclick="document.getElementById('recruitment-post-filter-form-input').value=''"
                                            value="All"
                                            class="dropdown-item {% if recruitment_post_filter == '' %} active {% endif %}">
                                    </li>
                                    {% if request.user.is_superuser or request.user.is_coordinator or request.user.role == 'recruiter' %}
                                    <li>
                                        <input type="submit"
                                            onclick="document.getElementById('recruitment-post-filter-form-input').value='by-me'"
                                            value="By Me"
                                            class="dropdown-item {% if recruitment_post_filter == 'by-me' %} active {% endif %}">
                                    </li>
                                    {% endif %}
                                    {% if request.user.role == 'student' %}
                                    <li>
                                        <input type="submit"
                                            onclick="document.getElementById('recruitment-post-filter-form-input').value='applied-by-me'"
                                            value="Applied By Me"
                                            class="dropdown-item {% if recruitment_post_filter == 'applied-by-me' %} active {% endif %}">
                                    </li>
                                    {% endif %}
                                </ul>
                            </form>
                        </div>
                    </li>
                    {% endif %}
                    {% endif %}
                </ul>
                <div style="width: fit-content;">
                    <div class="rounded-circle m-2" onclick="location.href=window.location.href.split('?')[0]"
                        data-bs-toggle="tooltip" data-bs-title="Clear all Filters">
                        <i class="bi bi-x-circle"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="accordion my-5" id="post-accordion">
        {% for notice in page_obj %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                <button class="accordion-button m-0 collapsed pe-5 pe-lg-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true"
                    aria-controls="collapse{{ forloop.counter }}">
                    <div class="d-flex flex-fill flex-column flex-lg-row">
                        <div>
                            <strong class="fw-bold lead text-body-emphasis lh-1">
                                {{ notice.0.title }}
                            </strong>
                            <small class="d-block text-body-secondary lh-1">
                                {% if notice.0.recruitment_post %}
                                For {{ notice.0.recruitment_post.get_workplace_type_display }}
                                {{ notice.0.recruitment_post.get_job_type_display }} {{ notice.0.recruitment_post.title }} at
                                {{ notice.0.recruitment_post.company }}
                                {% else %}
                                By {{ notice.0.user.full_name }}
                                {% endif %}
                            </small>
                            <small class="d-block badge p-0 text-start text-body-secondary lh-1">
                                Posted {{ notice.0.date|naturaltime }}
                            </small>
                        </div>
                    </div>
                </button>
            </h2>
            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse"
                aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#post-accordion">
                <div class="accordion-body">
                    <div class="text-body-secondary mb-3">
                        {% if notice.0.recruitment_post %}
                        <strong>By {{ notice.0.user.full_name }}</strong>
                        <small class="d-block">
                            <a href="{% url 'view_recruitment_post' notice.0.recruitment_post.pk %}#update-{{notice.0.pk}}">View
                                in Recruitment Post</a>
                        </small>
                        {% elif request.user in notice.0.edit_users %}
                        <a class="btn border border-0 m-0" href="#" data-bs-toggle="modal"
                            data-bs-target="#change-notice-{{ notice.0.pk }}-modal">
                            <i class="bi bi-pen"></i>
                        </a>
                        <div class="modal fade" id="change-notice-{{ notice.0.pk }}-modal" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div
                                class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <strong class="modal-title fs-3 fw-bold text-body-emphasis">
                                            Edit Notice
                                        </strong>
                                        <button type="button" class="btn-close m-0" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="change-notice-{{ notice.0.pk }}-form"
                                            action="{% url 'change_notice' notice.0.pk %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-floating mb-3">
                                                {{notice.1.title }}
                                                {{notice.1.title.label_tag }}
                                            </div>
                                            <div class="form-floating">
                                                {{notice.1.description }}
                                                {{notice.1.description.label_tag }}
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" form="change-notice-{{ notice.0.pk }}-form"
                                            class="btn btn-primary btn-lg w-100 m-0" value="Save"
                                            onclick="if (this.form.checkValidity() === false) { this.form.reportValidity(); return; } this.disabled = true; this.value = 'Saving...'; this.form.submit();">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div>
                        {{notice.0.description}}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="d-flex align-items-center justify-content-between w-100">
        <small class="lh-1 text-body-secondary">Shown {{page_obj.start_index}} to {{page_obj.end_index}} of
            {{page_obj.paginator.count}} results</small>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center m-0">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link"
                        href="?page=1{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}">1</a></li>
                {% if page_obj.previous_page_number > 1 %}
                <li class="page-item"><a class="page-link"
                        href="?page={{ page_obj.previous_page_number }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}">&laquo;</a>
                </li>
                {% endif %}
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">Page {{page_obj.number}} of
                        {{page_obj.paginator.num_pages}}</a></li>
                {% if page_obj.has_next %}
                {% if page_obj.paginator.num_pages > page_obj.next_page_number %}
                <li class="page-item"><a class="page-link"
                        href="?page={{ page_obj.next_page_number }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}">&raquo;</a>
                </li>
                {% endif %}
                <li class="page-item"><a class="page-link"
                        href="?page={{ page_obj.paginator.num_pages }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}">{{
                        page_obj.paginator.num_pages }}</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
<script>
    function getUrlParams() {
        const params = new URLSearchParams(window.location.search);
        let paramObj = {};
        for (let [key, value] of params.entries()) {
            // Check if key already exists in paramObj
            if (paramObj[key]) {
                // If key already exists and is an array, push the new value
                if (Array.isArray(paramObj[key])) {
                    paramObj[key].push(value);
                } else { // If key is not an array, convert it to an array with existing and new values
                    paramObj[key] = [paramObj[key], value];
                }
            } else { // If key doesn't exist in paramObj, set it to the new value
                paramObj[key] = value;
            }
        }
        return paramObj;
    }

    // Function to add hidden input fields with the current URL parameters
    function addHiddenInputs() {
        const params = getUrlParams();
        const forms = document.querySelectorAll('form');
        for (let key in params) {
            forms.forEach(form => {
                if (!form.elements[key]) {
                    if (Array.isArray(params[key])) { // Handle multi-valued fields
                        params[key].forEach(value => {
                            let input = document.createElement('input');
                            input.type = 'hidden';
                            input.name = key;
                            input.value = value;
                            form.appendChild(input);
                        });
                    } else { // Handle single-valued fields
                        let input = document.createElement('input');
                        input.type = 'hidden';
                        input.name = key;
                        input.value = params[key];
                        form.appendChild(input);
                    }
                }
            });
        }
    }
    window.onload = addHiddenInputs();
</script>
{% endblock %}