{% extends "base.html" %}

{% block title %}Recruitment Posts | TPC | CSE | AUS{% endblock %}
{% load humanize %}
{% block content %}

<div class="container-fluid p-3 p-xl-5 min-vh-100">

    <div class="my-5">
        <strong class="display-6 fw-bold text-body-emphasis lh-1">
            Recruitment Posts
        </strong>
        {% if post_filter %}
        <small class="d-block text-body-secondary">
            {% if post_filter == 'by-me' %}
            By Me
            {% elif post_filter == 'applied-by-me' %}
            Applied by Me
            {% endif %}
        </small>
        {% endif %}
    </diV>

    <nav class="navbar navbar-expand-xxl bg-body p-0 mb-3 border rounded-2">
        <div class="container-fluid">
            <a class="lead text-body-emphasis me-3" href="#">Filters</a>
            <div class="d-flex align-items-center gap-2">
                <div class="nav-link dropdown">
                    <a class="nav-link dropdown-toggle p-2" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Sort By
                    </a>
                    <form action="#">
                        <input id="sort-by-form-input" type="hidden" name="sorting" value="{{sorting}}">
                        <input id="ordering-form-input" type="hidden" name="ordering" value="{{ordering}}">
                        <ul class="dropdown-menu dropdown-menu-end" onclick="event.stopPropagation()">
                            {% for choice in sorting_options %}
                            <li>
                                <button type="submit"
                                    {% if sorting != choice.0 %}
                                    onclick="document.getElementById('sort-by-form-input').value='{{choice.0}}'"
                                    {% elif ordering != 'desc' %}
                                    onclick="document.getElementById('ordering-form-input').value='desc'"
                                    {% else %}
                                    onclick="document.getElementById('ordering-form-input').value='asc'"
                                    {% endif %}
                                    class="dropdown-item m-0 {% if sorting == choice.0 %} active {% endif %} d-flex align-items-center justify-content-between gap-2">
                                    <span>{{choice.1}}</span>
                                    {% if sorting == choice.0 %}
                                    <i class="bi {% if ordering != 'desc' %} bi-sort-down-alt {% else %} bi-sort-down {% endif %}"></i>
                                    {% endif %}
                                </button>
                            </li>
                            {% endfor %}
                        </ul>
                    </form>
                </div>
                <button class="navbar-toggler btn btn-outline-primary rounded-circle p-2 lh-1" type="button"
                    data-bs-toggle="collapse" data-bs-target="#filters-navbar" aria-controls="filters-navbar"
                    aria-expanded="false" aria-label="Toggle filters nav">
                    <span class="bi bi-funnel"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="filters-navbar">
                <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                    <li class="nav-item">
                        <div class="nav-link dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Skills
                            </a>
                            <ul class="dropdown-menu p-1" onclick="event.stopPropagation()">
                                <li>
                                    <form id="skill-filter-name-input-form" action="#">
                                        <div class="input-group mb-1" style="min-width: 32ch;">
                                            <input type="text" class="skill-name form-control"
                                                name="skill-filter-name-input" id="skill-filter-name-input"
                                                list="skill-filter-name-input-list" placeholder="Skill name"
                                                onchange="resetIfInvalid(this);" required>
                                            <datalist id="skill-filter-name-input-list"></datalist>
                                            <button type="button" form="skill-filter-name-input-form"
                                                class="btn btn-outline-primary border m-0" data-bs-toggle="tooltip"
                                                data-bs-title="Add"
                                                onclick="if (this.form.checkValidity() === false){ this.form.reportValidity(); return; } addSkill(document.getElementById('skill-filter-name-input').value); document.getElementById('skill-filter-name-input').value=''; document.getElementById('skill-filter-name-input-list').innerHTML='';">
                                                <i class="bi bi-plus-circle"></i>
                                            </button>
                                        </div>
                                    </form>
                                </li>
                                <li>
                                    <div id="skill-filters-display"
                                        class="d-flex flex-wrap align-items-center col-gap-1">
                                    </div>
                                </li>
                                <li>
                                    <form id="skill-filter-form" action="#">
                                        <input type="submit" value="Apply" class="btn btn-primary w-100">
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Company
                            </a>
                            <ul class="dropdown-menu p-1" onclick="event.stopPropagation()">
                                <li>
                                    <form action="#">
                                        <div class="input-group" style="min-width: 20ch;">
                                            <input type="text" class="form-control" name="company-filter"
                                                id="company-filter" placeholder="Company name"
                                                value="{{company_filter}}">
                                            <button type="submit" class="btn btn-outline-primary border m-0"
                                                data-bs-toggle="tooltip" data-bs-title="Apply">
                                                <i class="bi bi-check-circle"></i>
                                            </button>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Location
                            </a>
                            <ul class="dropdown-menu p-1" onclick="event.stopPropagation()">
                                <li>
                                    <form action="#">
                                        <div class="input-group" style="min-width: 44ch;">
                                            <input type="text" class="form-control" name="location-filter"
                                                id="location-filter" placeholder="Locality, City, State or Country name"
                                                value="{{location_filter}}">
                                            <button type="submit" class="btn btn-outline-primary border m-0"
                                                data-bs-toggle="tooltip" data-bs-title="Apply">
                                                <i class="bi bi-check-circle"></i>
                                            </button>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Type
                            </a>
                            <ul class="dropdown-menu p-1" onclick="event.stopPropagation()">
                                <li>
                                    <form action="#">
                                        {% for choice in job_type_choices %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="{{ choice.0 }}"
                                                name="job-type-filters" id="job-type-filter-{{ choice.0 }}" {% if choice.0 in job_type_filters %}checked{% endif %}>
                                            <label class="form-check-label" for="job-type-filter-{{ choice.0 }}">{{ choice.1 }}</label>
                                        </div>
                                        {% endfor %}
                                        <input type="submit" class="btn btn-primary w-100" value="Apply">
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Workplace
                            </a>
                            <ul class="dropdown-menu p-1" onclick="event.stopPropagation()">
                                <li>
                                    <form action="#">
                                        {% for choice in workplace_type_choices %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="{{ choice.0 }}"
                                                name="workplace-type-filters" id="workplace-type-filter-{{ choice.0 }}"
                                                {% if choice.0 in workplace_type_filters %}checked{% endif %}>
                                            <label class="form-check-label"
                                                for="workplace-type-filter-{{ choice.0 }}">{{ choice.1 }}</label>
                                        </div>
                                        {% endfor %}
                                        <input type="submit" class="btn btn-primary w-100" value="Apply">
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Salary
                            </a>
                            <ul class="dropdown-menu p-1" onclick="event.stopPropagation()">
                                <li>
                                    <form action="#">
                                        <div class="input-group" style="min-width: 38ch">
                                            <div class="input-group-text bg-transparent">Expected</div>
                                            <input type="number" class="form-control" name="expected-salary"
                                                id="expected-salary" value="{{expected_salary}}" placeholder="0">
                                            <button type="submit" class="btn btn-outline-primary border m-0"
                                                data-bs-toggle="tooltip" data-bs-title="Apply">
                                                <i class="bi bi-check-circle"></i>
                                            </button>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Experience
                            </a>
                            <ul class="dropdown-menu p-1" onclick="event.stopPropagation()">
                                <li>
                                    <form action="#">
                                        <div class="input-group mb-1" style="min-width: 30ch">
                                            <div class="input-group-text bg-transparent">Lower limit</div>
                                            <input type="number" class="form-control"
                                                name="experience-filter-lower-limit" id="experience-filter-lower-limit"
                                                value="{{experience_filter_lower_limit}}" placeholder="0">
                                        </div>
                                        <div class="input-group mb-1" style="min-width: 30ch">
                                            <div class="input-group-text bg-transparent">Upper limit</div>
                                            <input type="number" class="form-control"
                                                name="experience-filter-upper-limit" id="experience-filter-upper-limit"
                                                value="{{experience_filter_upper_limit}}" placeholder="Default is None">
                                        </div>
                                        <input type="submit" value="Apply" class="btn btn-primary border w-100 m-0">
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Start Date
                            </a>
                            <ul class="dropdown-menu p-1" onclick="event.stopPropagation()">
                                <li>
                                    <form action="#">
                                        <select class="form-select" name="start-date-type-filter"
                                            id="start-date-type-filter" onchange="this.parentElement.submit()">
                                            {% for choice in start_date_type_choices %}
                                            <option value="{{ choice.0 }}" {% if start_date_type_filter == choice.0 %}selected{% endif %}>
                                                {{ choice.1 }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        {% if start_date_type_filter == 'S' %}
                                        <input type="date" class="form-control my-1"
                                            name="start-date-filter-lower-limit" id="start-date-filter-lower-limit"
                                            value="{{ start_date_filter_lower_limit }}">
                                        <input type="date" class="form-control mb-1"
                                            name="start-date-filter-upper-limit" id="start-date-filter-upper-limit"
                                            value="{{ start_date_filter_upper_limit }}">
                                        <input type="submit" value="Apply" class="btn btn-primary border w-100 m-0">
                                        {% endif %}
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% if applications_status_choices %}
                    <li class="nav-item">
                        <div class="nav-link dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Applications
                            </a>
                            <ul class="dropdown-menu p-1" onclick="event.stopPropagation()">
                                <li>
                                    <form id="applications-status-filters-form" action="#">
                                        {% for choice in applications_status_choices %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="applications-status-filters"
                                                value="{{choice.0}}" {% if choice.0 in applications_status_filters %}checked{% endif %}>
                                            <label class="form-check-label">
                                                {{choice.1}}
                                            </label>
                                        </div>
                                        {% endfor %}
                                        <input type="submit" value="Apply" class="btn btn-primary w-100">
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                    {% if post_choices %}
                    <li class="nav-item">
                        <div class="nav-link dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                More
                            </a>
                            <ul class="dropdown-menu pb-1" onclick="event.stopPropagation()">
                                <form action="#">
                                    <input type="hidden" id="post-filter-form-input" name="post-filter">
                                    {% for choice in post_choices %}
                                    <li>
                                        <input type="submit"
                                            onclick="document.getElementById('post-filter-form-input').value='{{choice.0}}'"
                                            value="{{choice.1}}"
                                            class="dropdown-item {% if post_filter == choice.0 %}active{% endif %}">
                                    </li>
                                    {% endfor %}
                                </form>
                                {% if post_filter == 'applied-by-me' %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="px-1">
                                    <form id="applied-status-filters-form" action="#">
                                        {% for choice in applied_status_choices %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="applied-status-filters"
                                                value="{{choice.0}}" {% if choice.0 in applied_status_filters %}checked{% endif %}>
                                            <label class="form-check-label">
                                                {{choice.1}}
                                            </label>
                                        </div>
                                        {% endfor %}
                                        <input type="submit" value="Apply" class="btn btn-primary w-100">
                                    </form>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                </ul>
                <div style="width: fit-content;">
                    <div class="rounded-circle m-2" onclick="location.href=window.location.href.split('?')[0]"
                        data-bs-toggle="tooltip" data-bs-title="Clear all Filters">
                        <i class="bi bi-x-circle"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <ul class="list-group list-group-flush my-5">
        {% for post in page_obj %}
        <li class="list-group-item list-group-item-action list-group-item-accent p-2">
            <a href="{% url 'view_recruitment_post' post.id %}"
                class="d-flex align-items-center justify-content-between m-0 p-2 p-sm-4 icon-link icon-link-hover no-shadow">
                <div class="d-flex align-items-center gap-4">
                    <div class="me-auto">
                        <strong class="fw-bold lead text-body-emphasis lh-1">
                            {{post.get_workplace_type_display}} {{post.get_job_type_display}} {{post.title}} at
                            {{post.company}}
                        </strong>
                        <small class="d-block text-body-secondary lh-1">
                            By {{post.user.full_name}} | {{post.user.subtext}}
                        </small>
                        <small class="d-block badge px-0 py-1 text-start text-body-secondary">
                            Apply By {{post.apply_by|date:"F d, Y"}} | Posted {{ post.posted_on|naturaltime }}
                        </small>
                        <div class="my-4 d-flex flex-wrap g-0 gap-2 align-items-center justify-content-start">
                            {% if post.location %}
                            <span
                                class="badge d-flex align-items-center py-0 ps-1 pe-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                                <div class="rounded-circle m-2">
                                    <i class="bi bi-geo-alt fs-5"></i>
                                </div>
                                <div class="text-start">
                                    <strong class="fw-bold text-body-emphasis lh-1">
                                        {{ post.location }}
                                    </strong>
                                    <small class="d-block text-body-secondary">Location</small>
                                </div>
                            </span>
                            {% endif %}
                            <span
                                class="badge d-flex align-items-center py-0 ps-1 pe-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                                <div class="rounded-circle m-2">
                                    <i class="bi bi-cash-stack fs-5"></i>
                                </div>
                                <div class="text-start">
                                    <strong class="fw-bold text-body-emphasis lh-1">
                                        {% if post.salary_type == 'S' %}
                                        {% if post.minimum_salary == post.maximum_salary %}
                                        ₹ {{ post.minimum_salary }} per month
                                        {% else %}
                                        ₹ {{ post.minimum_salary }} - {{ post.maximum_salary }} per month
                                        {% endif %}
                                        {% elif post.salary_type == 'P' %}
                                        Performance Based
                                        {% endif %}
                                    </strong>
                                    <small class="d-block text-body-secondary">Salary</small>
                                </div>
                            </span>
                            {% if post.fee %}
                            <span
                                class="badge d-flex align-items-center py-0 ps-1 pe-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                                <div class="rounded-circle m-2">
                                    <i class="bi bi-receipt fs-5"></i>
                                </div>
                                <div class="text-start">
                                    <strong class="fw-bold text-body-emphasis lh-1">
                                        ₹ {{ post.fee }}
                                    </strong>
                                    <small class="d-block text-body-secondary">Fee</small>
                                </div>
                            </span>
                            {% endif %}
                            <span
                                class="badge d-flex align-items-center py-0 ps-1 pe-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                                <div class="rounded-circle m-2">
                                    <i class="bi bi-suitcase-lg fs-5"></i>
                                </div>
                                <div class="text-start">
                                    <strong class="fw-bold text-body-emphasis lh-1">
                                        {{ post.experience_duration }} Years Required
                                    </strong>
                                    <small class="d-block text-body-secondary">Work Experience</small>
                                </div>
                            </span>
                            <span
                                class="badge d-flex align-items-center py-0 ps-1 pe-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                                <div class="rounded-circle m-2">
                                    <i class="bi bi-calendar-event fs-5"></i>
                                </div>
                                <div class="text-start">
                                    <strong class="fw-bold text-body-emphasis lh-1">
                                        {% if post.start_date_type == 'S' %}
                                        {{ post.start_date }}
                                        {% else %}
                                        Immediately
                                        {% endif %}
                                    </strong>
                                    <small class="d-block text-body-secondary">Start date</small>
                                </div>
                            </span>
                            {% for application in post.applications.all %}
                            {% if application.user == request.user %}
                            <span class="badge d-flex align-items-center py-0 ps-1 pe-3
                                                        {% if application.status == 'P' %}
                                                        text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle
                                                        {% elif application.status == 'R' %}
                                                        text-danger-emphasis bg-danger-subtle border border-danger-subtle
                                                        {% elif application.status == 'S' %}
                                                        text-success-emphasis bg-success-subtle border border-success-subtle
                                                        {% elif application.status == 'I' %}
                                                        text-info-emphasis bg-info-subtle border border-info-subtle
                                                        {% endif %}
                                                        rounded-pill">
                                <div class="rounded-circle m-2">
                                    {% if application.status == 'P' %}
                                    <i class="bi bi-app-indicator fs-5"></i>
                                    {% elif application.status == 'R' %}
                                    <i class="bi bi-x-circle fs-5"></i>
                                    {% elif application.status == 'S' %}
                                    <i class="bi bi-check2-circle fs-5"></i>
                                    {% elif application.status == 'I' %}
                                    <i class="bi bi-info-circle fs-5"></i>
                                    {% endif %}
                                </div>
                                <div class="text-start">
                                    <strong class="fw-bold text-body-emphasis lh-1">
                                        Application {{ application.get_status_display }}
                                    </strong>
                                    <small class="d-block text-body-secondary">You applied
                                        {{application.applied_on|naturaltime}}</small>
                                </div>
                            </span>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% if post.skills.all|length %}
                        <div id="skills" class="mt-4">
                            <strong class="fw-bold text-body-emphasis lh-1 my-4">Skills Required</strong>
                            <div class="d-flex flex-wrap align-items-center gap-2 mt-3">
                                {% for skill in post.skills.all %}
                                <div
                                    class="badge d-flex align-items-center rounded-pill {% if request.user.role == 'student' and skill not in request.user.skills.all %} text-bg-danger {% else %} text-bg-accent {% endif %} gap-1">
                                    <h6 class="replace-abbreviation text-start fw-bold mb-0 lh-1">
                                        {{ skill.name }}
                                    </h6>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <i class="bi bi-chevron-right h3"></i>
            </a>
        </li>
        {% endfor %}
    </ul>

    <div class="d-flex align-items-center justify-content-between w-100">
        <small class="lh-1 text-body-secondary">Shown {{page_obj.start_index}} to {{page_obj.end_index}} of
            {{page_obj.paginator.count}} results</small>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center m-0">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link"
                        href="?page=1{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}">1</a></li>
                {% if page_obj.previous_page_number > 1 %}
                <li class="page-item"><a class="page-link"
                        href="?page={{ page_obj.previous_page_number }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}">&laquo;</a>
                </li>
                {% endif %}
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">Page {{page_obj.number}} of
                        {{page_obj.paginator.num_pages}}</a></li>
                {% if page_obj.has_next %}
                {% if page_obj.paginator.num_pages > page_obj.next_page_number %}
                <li class="page-item"><a class="page-link"
                        href="?page={{ page_obj.next_page_number }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}">&raquo;</a>
                </li>
                {% endif %}
                <li class="page-item"><a class="page-link"
                        href="?page={{ page_obj.paginator.num_pages }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}">{{
                        page_obj.paginator.num_pages }}</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

<script>
    document.querySelectorAll('.replace-abbreviation').forEach((element, index) => {
        element.innerHTML = replaceAbbreviations(element.innerHTML);
    });

    skill_filter = JSON.parse('{{ skill_filter|escapejs }}'.replace(/'/g, '"'))

    skill_name_inputs = document.querySelectorAll('.skill-name')

    skill_name_inputs.forEach((element) => {
        skill_option = document.getElementById(element.getAttribute('list'))
        element.addEventListener('keyup', function () {
            fetch(`{% url "skill_autocomplete" %}?q=${element.value}`)
                .then(response => response.json())
                .then(data => {
                    skill_option.innerHTML = ''
                    data.forEach(option => {
                        if (!skill_filter.includes(option)) {
                            newoption = document.createElement('option')
                            newoption.value = option
                            skill_option.appendChild(newoption)
                        }
                    });
                });
        });
    });

    function resetIfInvalid(el) {
        //just for beeing sure that nothing is done if no value selected
        if (el.value == "")
            return;
        var options = el.list.options;
        for (var i = 0; i < options.length; i++) {
            if (el.value == options[i].value)
                //option matches: work is done
                return;
        }
        //no match was found: reset the value
        el.value = "";
    }

    function addSkill(value) {
        skill_filter.push(value)
        parent = document.getElementById('skill-filters-display')
        input = document.createElement('input')
        input.setAttribute('id', `skill-filter-${value}`)
        input.type = 'hidden'
        input.name = 'skill-filter'
        input.value = value
        document.getElementById('skill-filter-form').appendChild(input)

        div = document.createElement('div')
        div.classList.add('text-start')
        div.classList.add('selected-skill-name')
        div.classList.add('replace-abbreviation')
        div.disabled = true
        div.innerHTML = replaceAbbreviations(value)
        i = document.createElement('i')
        i.classList.add('bi')
        i.classList.add('bi-x-circle')
        button = document.createElement('div')
        button.classList.add('rounded-circle')
        button.classList.add('mx-1')
        button.classList.add('fs-6')
        button.setAttribute('onclick', `this.parentElement.remove(); document.getElementById('skill-filter-${value}').remove()`)
        button.appendChild(i)
        span = document.createElement('span')
        span.classList.add('badge')
        span.classList.add('d-flex')
        span.classList.add('align-items-center')
        span.classList.add('py-1')
        span.classList.add('pe-0')
        span.classList.add('mb-1')
        span.classList.add('text-secondary-emphasis')
        span.classList.add('bg-secondary-subtle')
        span.classList.add('border')
        span.classList.add('border-secondary-subtle')
        span.classList.add('rounded-pill')
        span.appendChild(div)
        span.appendChild(button)
        parent.appendChild(span)
    }

    function buildSkillDisplay() {
        document.getElementById('skill-filters-display').innerHTML = ''
        skill_filter.forEach((value) => {
            addSkill(value);
        });
    }

    buildSkillDisplay()

    function getUrlParams() {
        const params = new URLSearchParams(window.location.search);
        let paramObj = {};
        for (let [key, value] of params.entries()) {
            // Check if key already exists in paramObj
            if (paramObj[key]) {
                // If key already exists and is an array, push the new value
                if (Array.isArray(paramObj[key])) {
                    paramObj[key].push(value);
                } else { // If key is not an array, convert it to an array with existing and new values
                    paramObj[key] = [paramObj[key], value];
                }
            } else { // If key doesn't exist in paramObj, set it to the new value
                paramObj[key] = value;
            }
        }
        return paramObj;
    }

    // Function to add hidden input fields with the current URL parameters
    function addHiddenInputs() {
        const params = getUrlParams();
        const forms = document.querySelectorAll('form');
        for (let key in params) {
            forms.forEach(form => {
                if (!form.elements[key]) {
                    if (Array.isArray(params[key])) { // Handle multi-valued fields
                        params[key].forEach(value => {
                            let input = document.createElement('input');
                            input.type = 'hidden';
                            input.name = key;
                            input.value = value;
                            form.appendChild(input);
                        });
                    } else { // Handle single-valued fields
                        let input = document.createElement('input');
                        input.type = 'hidden';
                        input.name = key;
                        input.value = params[key];
                        form.appendChild(input);
                    }
                }
            });
        }
    }
    window.onload = addHiddenInputs();
</script>

{% endblock %}