{% extends "base.html" %}

{% block title %}Recruitment Post | TPC | CSE | AUS{% endblock %}
{% load humanize %}
{% block content %}
<div class="container-lg col-xxl-12 p-3 p-sm-4 p-md-5">
    <div id="recruitment-post" class="col my-3 p-lg-4">
        <div>
            <strong class="display-6 fw-bold text-body-emphasis lh-1 mb-0">{{ post.title }}</strong>
            <p class="fs-5 text-body-secondary mb-3">
                required at {{ post.company }}
            </p>
        </div>

        <div class="my-4 row row-cols-auto g-0 gap-2 align-items-center justify-content-start">
            <div class="col d-flex">
                <span
                    class="badge d-flex align-items-center py-0 ps-1 pe-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                    <div class="rounded-circle m-2">
                        <i class="bi bi-person-workspace fs-5"></i>
                    </div>
                    <div class="text-start">
                        <strong class="fw-bold text-body-emphasis lh-1">
                            {{ post.get_workplace_type_display }}
                            {{ post.get_job_type_display }}
                        </strong>
                        <small class="d-block text-body-secondary">Work Type</small>
                    </div>
                </span>
            </div>
            {% if post.location %}
            <div class="col d-flex">
                <span
                    class="badge d-flex align-items-center py-0 ps-1 pe-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                    <div class="rounded-circle m-2">
                        <i class="bi bi-geo-alt fs-5"></i>
                    </div>
                    <div class="text-start">
                        <strong class="fw-bold text-body-emphasis lh-1">
                            {{ post.location }}
                        </strong>
                        <small class="d-block text-body-secondary">Location</small>
                    </div>
                </span>
            </div>
            {% endif %}
            <div class="col d-flex">
                <span
                    class="badge d-flex align-items-center py-0 ps-1 pe-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                    <div class="rounded-circle m-2">
                        <i class="bi bi-cash-stack fs-5"></i>
                    </div>
                    <div class="text-start">
                        <strong class="fw-bold text-body-emphasis lh-1">
                            {% if post.salary_type == 'S' %}
                            {% if post.minimum_salary == post.maximum_salary %}
                            ₹ {{ post.minimum_salary }} per month
                            {% else %}
                            ₹ {{ post.minimum_salary }} - {{ post.maximum_salary }} per month
                            {% endif %}
                            {% elif post.salary_type == 'P' %}
                            Performance Based
                            {% endif %}
                        </strong>
                        <small class="d-block text-body-secondary">Salary</small>
                    </div>
                </span>
            </div>
            {% if post.fee %}
            <div class="col d-flex">
                <span
                    class="badge d-flex align-items-center py-0 ps-1 pe-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                    <div class="rounded-circle m-2">
                        <i class="bi bi-receipt fs-5"></i>
                    </div>
                    <div class="text-start">
                        <strong class="fw-bold text-body-emphasis lh-1">
                            ₹ {{ post.fee }}
                        </strong>
                        <small class="d-block text-body-secondary">Fee</small>
                    </div>
                </span>
            </div>
            {% endif %}
            <div class="col d-flex">
                <span
                    class="badge d-flex align-items-center py-0 ps-1 pe-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                    <div class="rounded-circle m-2">
                        <i class="bi bi-suitcase-lg fs-5"></i>
                    </div>
                    <div class="text-start">
                        <strong class="fw-bold text-body-emphasis lh-1">
                            {{ post.experience_duration }} Years Required
                        </strong>
                        <small class="d-block text-body-secondary">Work Experience</small>
                    </div>
                </span>
            </div>
            <div class="col d-flex">
                <span
                    class="badge d-flex align-items-center py-0 ps-1 pe-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                    <div class="rounded-circle m-2">
                        <i class="bi bi-calendar-event fs-5"></i>
                    </div>
                    <div class="text-start">
                        <strong class="fw-bold text-body-emphasis lh-1">
                            {% if post.start_date_type == 'S' %}
                            {{ post.start_date }}
                            {% else %}
                            Immediately
                            {% endif %}
                        </strong>
                        <small class="d-block text-body-secondary">Start date</small>
                    </div>
                </span>
            </div>
            <div class="col d-flex">
                <span
                    class="badge d-flex align-items-center py-0 ps-1 pe-3 {% if post.is_active %} text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle {% else %} text-danger-emphasis bg-danger-subtle border border-danger-subtle {% endif %} rounded-pill">
                    <div class="rounded-circle m-2">
                        <i
                            class="bi {% if post.is_active %} bi-calendar-range {% else %} bi-calendar-x {% endif %} fs-5"></i>
                    </div>
                    <div class="text-start">
                        <strong
                            class="fw-bold {% if post.is_active %} text-body-emphasis {% else %} text-danger-emphasis {% endif %} lh-1">
                            {{ post.apply_by }}
                        </strong>
                        <small class="d-block text-body-secondary">Apply By</small>
                    </div>
                </span>
            </div>
            <div class="col d-flex">
                <span
                    class="badge d-flex align-items-center py-0 ps-1 pe-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                    <div class="rounded-circle m-2">
                        <i class="bi bi-clock-history fs-5"></i>
                    </div>
                    <div class="text-start">
                        <strong class="fw-bold text-body-emphasis lh-1">
                            {{ post.posted_on|naturaltime }}
                        </strong>
                        <small class="d-block text-body-secondary">Posted</small>
                    </div>
                </span>
            </div>
        </div>

        {% if post.skills.all|length or skill_form %}
        <div id="skills" class="my-5">
            <h2 class="fw-bold text-body-emphasis lh-1 my-4">Skills Required</h2>
            <div class="d-flex flex-wrap align-items-center gap-2 my-3">
                {% for skill in post.skills.all %}
                <div
                    class="badge d-flex align-items-center rounded-pill {% if request.user.role == 'student' and skill not in request.user.skills.all %} text-bg-danger {% else %} text-bg-accent {% endif %} gap-1">
                    <h6 class="replace-abbreviation text-start fw-bold mb-0 lh-1">
                        {{ skill.name }}
                    </h6>
                    {% if request.user in post.remove_skill_users %}
                    <form action="{% url 'delete_recruitment_post_skill' post.pk skill.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn border border-0 m-0 p-0" data-bs-toggle="tooltip"
                            data-bs-title="Remove">
                            <i class="bi bi-x-circle fs-6"></i>
                        </button>
                    </form>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% if skill_form %}
            <form id="skill-form" action="{% url 'add_recruitment_post_skill' post.pk %}" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="form-floating">
                        {{ skill_form.name }}
                        {{ skill_form.name.label_tag }}
                    </div>
                    <button class="btn border m-0" data-bs-toggle="tooltip" data-bs-title="Add">
                        <i class="bi bi-plus-circle"></i>
                    </button>
                </div>
                <datalist id="skill-data-list">
                </datalist>
                <div class="form-text ms-2">
                    <strong>Guidelines:</strong>
                    <ul>
                        <li>
                            Follow appropriate naming convention and capitalization. Eg. Python, C++, JavaScript,
                            TypeScript, etc.
                        </li>
                        <li>
                            Put full form of abbreviations in brackets. Eg. CSS (Cascading Style Sheets), MS (Microsoft)
                            Excel, etc.
                        </li>
                    </ul>
                </div>
            </form>
            {% endif %}
        </div>
        {% endif %}

        {% if post.description %}
        <div class="mx-3 my-4">
            <p class="replace-abbreviation">{{ post.description|linebreaks }}</p>
        </div>
        {% endif %}

        <div class="accordion" id="post-accordion">
            {% if post.requirements %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button text-body-emphasis m-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseRequirements" aria-expanded="true"
                        aria-controls="collapseRequirements">
                        Requirements
                    </button>
                </h2>
                <div id="collapseRequirements" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        {{ post.requirements|linebreaks }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if post.required_documents %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button text-body-emphasis m-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseDocuments" aria-expanded="true" aria-controls="collapseDocuments">
                        Documents Required
                    </button>
                </h2>
                <div id="collapseDocuments" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        {{ post.required_documents|linebreaks }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if post.pending_application_instructions %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button text-body-emphasis collapsed m-0" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        My application is Pending. What should I do?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {{ post.pending_application_instructions|linebreaks }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if post.rejected_application_instructions %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button text-body-emphasis collapsed m-0" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        My application is Rejected. What should I do?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {{ post.rejected_application_instructions|linebreaks }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if post.selected_application_instructions %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button text-body-emphasis collapsed m-0" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">
                        My application is Selected. What should I do?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {{ post.selected_application_instructions|linebreaks }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if post.shortlisted_application_instructions %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button text-body-emphasis collapsed m-0" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                        aria-controls="collapseFour">
                        My application is Shortlisted for Interview. What should I do?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {{ post.shortlisted_application_instructions|linebreaks }}
                    </div>
                </div>
            </div>
            {% endif %}
            <div id="updates" class="invisible"></div>
            {% for update in updates %}
            <div id="update-number-{{ forloop.counter }}" class="accordion-item">
                <h2 id="update-{{ update.0.pk }}" class="accordion-header">
                    <button class="accordion-button text-body-emphasis collapsed m-0" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseUpdate{{ update.0.pk }}"
                        aria-expanded="false" aria-controls="collapseUpdate{{ update.0.pk }}">
                        {{ update.0.title }}
                    </button>
                </h2>
                <div id="collapseUpdate{{ update.0.pk }}" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="my-3">
                            {{ update.0.description|linebreaks }}
                        </div>
                        <div class="d-flex align-items-center justify-content-between gap-3">
                            <div class="d-flex align-items-center gap-3">
                                <i class="bi bi-person-circle fs-3 flex-shrink-0"></i>
                                <div>
                                    <span>Shared by</span>
                                    <strong class="fw-bold text-body-emphasis lh-1">{{update.0.user.full_name}}</strong>
                                    <small class="d-block text-body-secondary lh-1">{{update.0.user.subtext}}</small>
                                </div>
                            </div>
                            {% if request.user in update.0.edit_users %}
                            <a class="btn border border-0 m-0" href="#" data-bs-toggle="modal"
                                data-bs-target="#change-update-{{ update.0.pk }}-modal">
                                <i class="bi bi-pen"></i>
                            </a>
                            <div class="modal fade" id="change-update-{{ update.0.pk }}-modal" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
                                    <div class="modal-content">
                                        <div class="modal-header justify-content-between">
                                            <strong class="modal-title fs-3 fw-bold text-body-emphasis">
                                                Edit Work Experience
                                            </strong>
                                            <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="change-update-{{ update.0.pk }}-form"
                                                action="{% url 'change_recruitment_post_update' update.0.pk %}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-floating mb-3">
                                                    {{ update.1.title }}
                                                    {{ update.1.title.label_tag }}
                                                </div>
                                                <div class="form-floating mb-3">
                                                    {{ update.1.description }}
                                                    {{ update.1.description.label_tag }}
                                                </div>
                                                <div class="form-text">
                                                    Put full form of abbreviations in brackets. Eg. HTML (HyperText
                                                    Markup
                                                    Language)
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" form="change-update-{{ update.0.pk }}-form"
                                                class="btn btn-primary btn-lg w-100" value="Save"
                                                onclick="if (this.form.checkValidity() === false) { this.form.reportValidity(); return; } this.disabled = true; this.value = 'Saving...'; this.form.submit();">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="updates-last" class="invisible"></div>
            {% endfor %}
        </div>

        <ul class="list-group my-4">
            {% if not post.is_active and edit_form %}
            <li class="list-group-item list-group-item-danger p-0">
                <div class="d-flex align-items-center gap-3 p-3 pe-4 m-0 icon-link icon-link-hover no-shadow">
                    <div class="flex-fill">
                        <strong class="fs-4 fw-bold text-danger-emphasis lh-1">
                            Not receiving Applications
                        </strong>
                        <p class="fs-6 text-body-secondary mb-0">
                            To Receive Applications, edit this post and extend Apply By date.
                        </p>
                    </div>
                </div>
            </li>
            {% endif %}
            {% if request.user in post.view_application_users %}
            <li class="list-group-item list-group-item-action list-group-item-accent p-0">
                <a href="{% url 'recruitment_applications' post.pk %}"
                    class="d-flex align-items-center gap-3 p-3 pe-4 m-0 icon-link icon-link-hover no-shadow">
                    <div class="flex-fill">
                        <strong class="fs-4 fw-bold text-body-emphasis lh-1">
                            {{post.applications.all|length}} Applications Received
                        </strong>
                        <p class="fs-6 text-body-secondary mb-0">
                            {{pending_applications_count}} pending, {{rejected_applications_count}} rejected,
                            {{selected_applications_count}} selected, {{interview_applications_count}} shortlisted for
                            interview. View all.
                        </p>
                    </div>
                    <i class="bi bi-chevron-right"></i>
                </a>
            </li>
            {% endif %}
            {% if edit_form %}
            <li class="list-group-item list-group-item-action list-group-item-accent p-0" data-bs-toggle="modal"
                data-bs-target="#edit-post-modal">
                <a href="#" class="d-flex align-items-center gap-3 p-3 pe-4 m-0 icon-link icon-link-hover no-shadow">
                    <div class="flex-fill">
                        <strong class="fs-4 fw-bold text-body-emphasis lh-1">
                            Edit
                        </strong>
                        <p class="fs-6 text-body-secondary mb-0">
                            Edit / Add Instructions for Applicants.
                        </p>
                    </div>
                    <i class="bi bi-chevron-right"></i>
                </a>
            </li>
            <div class="modal fade" id="edit-post-modal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div
                    class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable modal-fullscreen-md-down">
                    <div class="modal-content">
                        <div class="modal-header justify-content-between">
                            <strong class="modal-title fs-3 fw-bold text-body-emphasis">
                                Edit Recruitment Post
                            </strong>
                            <button type="button" class="btn-close m-0" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="edit-post-form" action="{% url 'change_recruitment_post' post.pk %}"
                                method="POST">
                                {% csrf_token %}
                                {{edit_form.user}}
                                <div class="form-text">
                                    <strong class="text-body-emphasis">Note:</strong>
                                    <ul>
                                        <li>
                                            You can edit this post and add instructions for applicants.
                                        </li>
                                        <li>
                                            You can also extend the Apply By date to receive more applications.
                                        </li>
                                        {% if not request.user.is_superuser and not request.user.is_coordinator %}
                                        <li>
                                            Some fields are uneditable after the post is published to avoid confusion
                                            among
                                            applicants. If you still need to make subtle changes to any of them, please
                                            contact the
                                            TPC.
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="d-none">
                                    {{ edit_form.user }}
                                </div>
                                <div class="form-floating mb-3">
                                    {{ edit_form.title }}
                                    {{ edit_form.title.label_tag }}
                                </div>
                                <div class="row g-0 gap-3 mb-3">
                                    <div class="col-12 col-md form-floating">
                                        {{ edit_form.company }}
                                        {{ edit_form.company.label_tag }}
                                    </div>
                                    <div class="col-12 col-md">
                                        <div class="form-floating">
                                            {{ edit_form.location }}
                                            {{ edit_form.location.label_tag }}
                                        </div>
                                        {% if edit_form.location.help_text %}
                                        <div class="form-text ms-3">
                                            {{ edit_form.location.help_text }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row g-0 gap-3 mb-3">
                                    <div class="col-12 col-sm form-floating">
                                        {{ edit_form.job_type }}
                                        {{ edit_form.job_type.label_tag }}
                                    </div>
                                    <div class="col-12 col-sm form-floating">
                                        {{ edit_form.workplace_type }}
                                        {{ edit_form.workplace_type.label_tag }}
                                    </div>
                                    <div class="col-12 col-lg">
                                        <div class="input-group">
                                            <div class="form-floating">
                                                {{ edit_form.experience_duration }}
                                                {{ edit_form.experience_duration.label_tag }}
                                            </div>
                                            <div class="input-group-text bg-body">
                                                Years
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-0 gap-3 mb-3">
                                    <div class="col-12 col-xl">
                                        <div class="input-group">
                                            <div style="width: 13ch">
                                                <div class="form-floating">
                                                    {{ edit_form.salary_type}}
                                                    {{ edit_form.salary_type.label_tag }}
                                                </div>
                                            </div>
                                            <div class="input-group-text bg-transparent">
                                                ₹
                                            </div>
                                            <div class="form-floating">
                                                {{ edit_form.minimum_salary }}
                                                {{ edit_form.minimum_salary.label_tag }}
                                            </div>
                                            <div class="form-floating">
                                                {{ edit_form.maximum_salary }}
                                                {{ edit_form.maximum_salary.label_tag }}
                                            </div>
                                            <div class="input-group-text bg-transparent">
                                                per month
                                            </div>
                                        </div>
                                        {% if edit_form.salary_type.help_text %}
                                        <div class="form-text ms-3">
                                            {{ edit_form.salary_type.help_text }}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-lg">
                                        <div class="input-group">
                                            <div class="input-group-text bg-transparent">
                                                ₹
                                            </div>
                                            <div class="form-floating">
                                                {{ edit_form.fee }}
                                                {{ edit_form.fee.label_tag }}
                                            </div>
                                        </div>
                                        {% if edit_form.fee.help_text %}
                                        <div class="form-text ms-3">
                                            {{ edit_form.fee.help_text }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row g-0 gap-3 mb-3">
                                    <div class="col-12 col-sm">
                                        <div class="input-group">
                                            <div style="width: 13ch">
                                                <div class="form-floating">
                                                    {{ edit_form.start_date_type }}
                                                    {{ edit_form.start_date_type.label_tag }}
                                                </div>
                                            </div>
                                            <div class="form-floating">
                                                {{ edit_form.start_date }}
                                                {{ edit_form.start_date.label_tag }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm">
                                        <div class="form-floating">
                                            {{ edit_form.apply_by }}
                                            {{ edit_form.apply_by.label_tag }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    {{ edit_form.description }}
                                    {{ edit_form.description.label_tag }}
                                </div>
                                <div class="form-floating">
                                    {{ edit_form.requirements }}
                                    {{ edit_form.requirements.label_tag }}
                                </div>
                                <div class="form-text ms-3 mb-3">
                                    {{ edit_form.requirements.help_text }}
                                </div>
                                <div class="form-floating">
                                    {{ edit_form.required_documents }}
                                    {{ edit_form.required_documents.label_tag }}
                                </div>
                                <div class="form-text ms-3 mb-3">
                                    {{ edit_form.required_documents.help_text }}
                                </div>
                                <div class="form-floating">
                                    {{ edit_form.questionaires }}
                                    {{ edit_form.questionaires.label_tag }}
                                </div>
                                <div class="form-text ms-3 mb-3">
                                    {{ edit_form.questionaires.help_text }}
                                </div>
                                <div class="form-floating mb-3">
                                    {{ edit_form.pending_application_instructions }}
                                    {{ edit_form.pending_application_instructions.label_tag }}
                                </div>
                                <div class="form-floating mb-3">
                                    {{ edit_form.rejected_application_instructions }}
                                    {{ edit_form.rejected_application_instructions.label_tag }}
                                </div>
                                <div class="form-floating mb-3">
                                    {{ edit_form.selected_application_instructions }}
                                    {{ edit_form.selected_application_instructions.label_tag }}
                                </div>
                                <div class="form-floating">
                                    {{ edit_form.shortlisted_application_instructions }}
                                    {{ edit_form.shortlisted_application_instructions.label_tag }}
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" form="edit-post-form" class="btn btn-primary btn-lg w-100" value="Save"
                                onclick="if (this.form.checkValidity() === false) { this.form.reportValidity(); return; } this.disabled=true; this.value='Saving...'; this.form.submit();">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if update_form %}
            <li class="list-group-item list-group-item-action list-group-item-accent p-0" data-bs-toggle="modal"
                data-bs-target="#share-update-modal">
                <a href="#" class="d-flex align-items-center gap-3 p-3 pe-4 m-0 icon-link icon-link-hover no-shadow">
                    <div class="flex-fill">
                        <strong class="fs-4 fw-bold text-body-emphasis lh-1">
                            Share an Update
                        </strong>
                        <p class="fs-6 text-body-secondary mb-0">
                            Share Notifications, Updates or any additional information related to this post.
                        </p>
                    </div>
                    <i class="bi bi-chevron-right"></i>
                </a>
            </li>
            <div class="modal fade" id="share-update-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
                    <div class="modal-content">
                        <div class="modal-header justify-content-between">
                            <strong class="modal-title fs-3 fw-bold text-body-emphasis">
                                Share an Update
                            </strong>
                            <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="share-update-form" action="{% url 'add_recruitment_post_update' post.pk %}" method="POST">
                                {% csrf_token %}
                                <div class="form-floating mb-3">
                                    {{ update_form.title }}
                                    {{ update_form.title.label_tag }}
                                </div>
                                <div class="form-floating">
                                    {{ update_form.description }}
                                    {{ update_form.description.label_tag }}
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" form="share-update-form" class="btn btn-primary btn-lg w-100" value="Submit"
                                onclick="if (this.form.checkValidity() === false) { this.form.reportValidity(); return; } this.disabled=true; this.value='Submitting...'; this.form.submit();">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if application %}
            <li id="application" class="list-group-item list-group-item-action list-group-item-accent p-0"
                data-bs-toggle="modal" data-bs-target="#view-application-modal">
                <a href="#" class="d-flex align-items-center gap-3 p-3 pe-4 m-0 icon-link icon-link-hover no-shadow">
                    <div class="flex-fill">
                        <strong class="fs-4 fw-bold text-body-emphasis lh-1">
                            You have already applied
                        </strong>
                        <p class="fs-6 text-body-secondary mb-0">
                            Your application is {{ application.get_status_display }}.
                        </p>
                    </div>
                    <i class="bi bi-chevron-right"></i>
                </a>
            </li>
            <div class="modal fade" id="view-application-modal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div
                    class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
                    <div class="modal-content">
                        <div class="modal-header justify-content-between">
                            <strong class="modal-title fs-3 fw-bold text-body-emphasis">
                                Your Application
                            </strong>
                            <button type="button" class="btn-close m-0" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <h3>Cover Letter</h3>
                                <p>
                                    {{ application.cover_letter|linebreaks }}
                                </p>
                            </div>
                            {% if post.questionaires %}
                            <div>
                                <h3>questionaires</h3>
                                <p>
                                    {{ post.questionaires|linebreaks }}
                                </p>
                                <h5>Answers</h5>
                                <p>
                                    {{ application.answers|linebreaks }}
                                </p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <div
                                class="d-flex flex-wrap m-0 w-100 g-0 gap-2 align-items-center justify-content-between">
                                <div class="d-flex flex-wrap g-0 gap-2 align-items-center justify-content-start">
                                    <span
                                        class="badge d-flex align-items-center py-0 ps-1 pe-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                                        <div class="rounded-circle m-2">
                                            <i class="bi bi-person-circle fs-5"></i>
                                        </div>
                                        <div class="text-start">
                                            <strong class="fw-bold text-body-emphasis lh-1">
                                                {{ application.user.full_name }}
                                            </strong>
                                            <small class="d-block text-body-secondary">Applicant</small>
                                        </div>
                                    </span>
                                </div>
                                <div class="d-flex flex-wrap g-0 gap-2 align-items-center justify-content-end">
                                    <span
                                        class="badge d-flex align-items-center py-0 ps-1 pe-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                                        <div class="rounded-circle m-2">
                                            <i class="bi bi-clock-history fs-5"></i>
                                        </div>
                                        <div class="text-start">
                                            <strong class="fw-bold text-body-emphasis lh-1">
                                                {{ application.applied_on|naturaltime }}
                                            </strong>
                                            <small class="d-block text-body-secondary">Applied</small>
                                        </div>
                                    </span>
                                    <span
                                        class="badge d-flex align-items-center py-0 ps-1 pe-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-pill">
                                        <div class="rounded-circle m-2">
                                            <i class="bi bi-info-circle fs-5"></i>
                                        </div>
                                        <div class="text-start">
                                            <strong class="fw-bold text-body-emphasis lh-1">
                                                {{ application.get_status_display }}
                                            </strong>
                                            <small class="d-block text-body-secondary">Status</small>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% elif apply_form %}
            <li class="list-group-item list-group-item-action list-group-item-accent p-0" data-bs-toggle="modal"
                data-bs-target="#apply-modal">
                <a href="#" class="d-flex align-items-center gap-3 p-3 pe-4 m-0 icon-link icon-link-hover no-shadow">
                    <div class="flex-fill">
                        <strong class="fs-4 fw-bold text-body-emphasis lh-1">
                            Apply Now
                        </strong>
                        <p class="fs-6 text-body-secondary mb-0">
                            Send a Cover Letter and apply for this post.
                        </p>
                    </div>
                    <i class="bi bi-chevron-right"></i>
                </a>
            </li>
            <div class="modal fade" id="apply-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div
                    class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
                    <div class="modal-content">
                        <div class="modal-header justify-content-between">
                            <strong class="modal-title fs-3 fw-bold text-body-emphasis">
                                Apply
                            </strong>
                            <button type="button" class="btn-close m-0" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="apply-form" action="{% url 'apply_recruitment_post' post.pk %}" method="POST">
                                {% csrf_token %}
                                <div class="form-floating mb-3">
                                    {{ apply_form.cover_letter }}
                                    {{ apply_form.cover_letter.label_tag }}
                                </div>
                                {% if apply_form.cover_letter.help_text %}
                                <div class="form-text ms-3">
                                    {{ apply_form.cover_letter.help_text }}
                                </div>
                                {% endif %}
                                <div class="
                                    {% if not post.questionaires %}
                                    d-none
                                    {% endif %}
                                ">
                                    <div class="form-text">
                                        <h5 class="mt-5 text-body-emphasis">
                                            Please Answer the following questions in the space provided
                                        </h5>
                                        <p>
                                            {{ post.questionaires|linebreaks }}
                                        </p>
                                    </div>
                                    <div class="form-floating">
                                        {{ apply_form.answers }}
                                        {{ apply_form.answers.label_tag }}
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" form="apply-form" class="btn btn-primary btn-lg w-100" value="Apply"
                                onclick="if (this.form.checkValidity() === false) { this.form.reportValidity(); return; } this.disabled=true; this.value='Applying...'; this.form.submit();">
                        </div>
                    </div>
                </div>
            </div>
            {% elif request.user.role == 'student' and not request.user.is_approved %}
            <li class="list-group-item list-group-item-action list-group-item-accent p-0">
                <div class="d-flex align-items-center gap-3 p-3 pe-4 m-0 icon-link icon-link-hover no-shadow">
                    <div class="flex-fill">
                        <strong class="fs-4 fw-bold text-body-emphasis lh-1">
                            Can't Apply
                        </strong>
                        <p class="fs-6 text-body-secondary mb-0">
                            Your Profile is not approved. Contact an Administrator or Coordinator.
                        </p>
                    </div>
                </div>
            </li>
            {% elif request.user.role == 'student' and not post.is_active %}
            <li class="list-group-item list-group-item-action list-group-item-accent p-0">
                <div class="d-flex align-items-center gap-3 p-3 pe-4 m-0 icon-link icon-link-hover no-shadow">
                    <div class="flex-fill">
                        <strong class="fs-4 fw-bold text-body-emphasis lh-1">
                            Can't Apply
                        </strong>
                        <p class="fs-6 text-body-secondary mb-0">
                            This Post is not receiving applications anymore.
                        </p>
                    </div>
                </div>
            </li>
            {% endif %}
        </ul>

        <div class="my-4">
            <div class="d-flex align-items-start gap-3 p-2">
                <i class="bi bi-person-circle fs-2 flex-shrink-0"></i>
                <div>
                    <span>Posted by</span>
                    <strong class="fw-bold text-body-emphasis lh-1">{{ post.user.get_full_name }}</strong>
                    <small class="d-block text-body-secondary lh-1">{{ post.user.subtext }}</small>
                    {% if user.bio %}
                    <div class="mt-3">
                        <strong class="fw-bold text-body-emphasis lh-1">About</strong>
                        <p class="replace-abbreviation">{{ user.bio }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    skill_name = document.getElementById('id-skill-name')
    skill_options = document.getElementById('skill-data-list')
    skill_name.addEventListener('keyup', function () {
        if (skill_name.value != '')
            fetch(`{% url "skill_autocomplete" %}?q=${skill_name.value}&p={{ post.pk}}`)
                .then(response => response.json())
                .then(data => {
                    skill_options.innerHTML = ''
                    data.forEach(option => {
                        newoption = document.createElement('option')
                        newoption.value = option
                        skill_options.appendChild(newoption)
                    });
                });
        else
            skill_options.innerHTML = ''
    });
</script>
{% endblock %}