{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TPC | CSE | AUS{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'scripts/replaceabbreviations.js' %}"></script>
</head>

<body data-bs-spy="scroll" data-bs-target="#nav" data-bs-smooth-scroll="true" class="cursor-none" tabindex="0"
    data-bs-theme="light">
    <div id="nav-div">
        <div class="fixed-top">
            <div class="position-relative">
                <span class="d-flex position-absolute top-0" id="nav" onmouseenter="Menu()">
                    <div class="d-flex flex-column vh-100">
                        <div class="heightofnavbar widthofnav bg-accent-subtle"></div>
                        <nav class="flex-fill nav d-flex flex-column justify-content-evenly gap-2 p-2 bg-accent-subtle">
                            <a href="{% url 'index' %}"
                                class="nav-link rounded-pill border border-0 d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-house"></i>
                            </a>
                            <a href="{% url 'dashboard' %}"
                                class="nav-link rounded-pill border border-0  d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-view-list"></i>
                            </a>
                            <a href="{% url 'recruitment_posts' %}"
                                class="nav-link rounded-pill border border-0  d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-building"></i>
                            </a>
                            <a href="{% url 'notices' %}"
                                class="nav-link rounded-pill border border-0  d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-app-indicator"></i>
                            </a>
                            <a href="{% url 'contact' %}"
                                class="nav-link rounded-pill border border-0 d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-chat-left"></i>
                            </a>
                        </nav>
                    </div>
                    <div class="d-flex flex-column topleft heightofnavbar position-relative justify-content-end">
                        <div class="inverted-topleft-corner bg-accent-subtle"></div>
                    </div>
                </span>
                <span class="d-flex position-absolute top-0" id="nav2" onmouseleave="Menu()">
                    <div class="d-flex flex-column vh-100">
                        <div class="heightofnavbar widthofnav2 bg-accent-subtle"></div>
                        <nav class="flex-fill nav d-flex flex-column justify-content-evenly gap-2 p-2 bg-accent-subtle">
                            <a href="{% url 'index' %}"
                                class="nav-link rounded-pill border border-0 d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-house"></i>
                                <span>Home</span>
                            </a>
                            <a href="{% url 'dashboard' %}"
                                class="nav-link rounded-pill border border-0  d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-view-list"></i>
                                <span>Dashboard</span>
                            </a>
                            <a href="{% url 'recruitment_posts' %}"
                                class="nav-link rounded-pill border border-0  d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-building"></i>
                                <span>Recruitment Posts</span>
                            </a>
                            <a href="{% url 'notices' %}"
                                class="nav-link rounded-pill border border-0  d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-app-indicator"></i>
                                <span>Notices</span>
                            </a>
                            <a href="{% url 'contact' %}"
                                class="nav-link rounded-pill border border-0 d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-chat-left"></i>
                                <span>Contact Us</span>
                            </a>
                        </nav>
                    </div>
                    <div class="d-flex flex-column topleft heightofnavbar position-relative justify-content-end">
                        <div class="inverted-topleft-corner bg-accent-subtle"></div>
                    </div>
                </span>
            </div>
        </div>

        <div class="fixed-top">
            <nav id="navbar"
                class="navbar bg-accent-subtle align-items-center justify-content-between justify-content-sm-start z-1 p-0">
                <div id="nav-menu-button-container" class="nav-menu-button-container p-3 m-1">
                    <div id="nav-menu" class="nav-menu rounded-circle border border-0" onclick="Menu(this)">
                        <div id="nav-menu-hamicon" class="hamicon">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'index' %}">
                    <div class="d-flex gap-3">
                        <img class="img-fluid" style="height: 42px" src="/static/assets/aus-logo.png"
                            alt="Assam University">
                        <div class="text-center text-sm-start">
                            <p class="m-0 fs-6">TPC | CSE | TSSOT</p>
                            <p class="m-0 fs-7">Assam University</p>
                        </div>
                    </div>
                </a>
                {% if request.user.is_authenticated %}
                <div class="ms-0 ms-sm-auto me-0 me-sm-3 dropdown">
                    <a href="#" class="nav-link rounded-pill border border-0 d-flex align-items-center px-3 m-1 gap-1 fs-3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end me-3 me-sm-0">
                        <li><a href="{% url 'build_profile' request.user.pk %}" class="dropdown-item">View Profile</a></li>
                        <li><a href="{% url 'build_profile' request.user.pk %}" class="dropdown-item">Build Profile</a></li>
                        <li><a href="{% url 'sign_out' %}?next={{ request.path }}" class="dropdown-item">Logout</a></li>
                    </ul>
                </div>
                {% else %}
                <a href="{% url 'sign_in' %}?next={{ request.path }}"
                    class="ms-0 ms-sm-auto nav-link rounded-pill border border-0 d-flex align-items-center px-3 m-1 gap-1">
                    <span>Login</span>
                </a>
                {% endif %}
            </nav>
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
    <script src="{% static 'scripts/navbar.js' %}"></script>
</body>

</html>