{% extends "skeleton.html" %}
{% load static %}

{% block head %}
<meta name=”robots” content="index, follow">
{% endblock %}

{% block body %}
    <div id="nav-div">
        <div class="fixed-top">
            <div class="position-relative">
                <span class="d-flex position-absolute top-0" id="nav" onmouseenter="Menu()">
                    <div class="d-flex flex-column vh-100">
                        <div class="heightofnavbar widthofnav bg-accent-subtle"></div>
                        <nav class="flex-fill nav d-flex flex-column justify-content-evenly gap-2 p-2 bg-accent-subtle">
                            <a class="link text-decoration-none p-3" href="{% url 'index' %}"
                                class="nav-link rounded-pill border border-0 d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-house"></i>
                            </a>
                            <a class="link text-decoration-none p-3" href="{% url 'dashboard' %}"
                                class="nav-link rounded-pill border border-0  d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-view-list"></i>
                            </a>
                            <a class="link text-decoration-none p-3" href="{% url 'recruitment_posts' %}"
                                class="nav-link rounded-pill border border-0  d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-building"></i>
                            </a>
                            <a class="link text-decoration-none p-3" href="{% url 'notices' %}"
                                class="nav-link rounded-pill border border-0  d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-app-indicator"></i>
                            </a>
                            <a class="link text-decoration-none p-3" href="{% url 'contact' %}"
                                class="nav-link rounded-pill border border-0 d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-chat-left"></i>
                            </a>
                        </nav>
                    </div>
                    <div class="d-flex flex-column topleft heightofnavbar position-relative justify-content-end">
                        <div class="inverted-topleft-corner bg-accent-subtle"></div>
                    </div>
                </span>
                <span class="d-flex position-absolute top-0" id="nav2" onmouseleave="Menu()">
                    <div class="d-flex flex-column vh-100">
                        <div class="heightofnavbar widthofnav2 bg-accent-subtle"></div>
                        <nav class="flex-fill nav d-flex flex-column justify-content-evenly gap-2 p-2 bg-accent-subtle">
                            <a class="link text-decoration-none p-3" href="{% url 'index' %}"
                                class="nav-link rounded-pill border border-0 d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-house"></i>
                                <span>Home</span>
                            </a>
                            <a class="link text-decoration-none p-3" href="{% url 'dashboard' %}"
                                class="nav-link rounded-pill border border-0  d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-view-list"></i>
                                <span>Dashboard</span>
                            </a>
                            <a class="link text-decoration-none p-3" href="{% url 'recruitment_posts' %}"
                                class="nav-link rounded-pill border border-0  d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-building"></i>
                                <span>Recruitment Posts</span>
                            </a>
                            <a class="link text-decoration-none p-3" href="{% url 'notices' %}"
                                class="nav-link rounded-pill border border-0  d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-app-indicator"></i>
                                <span>Notices</span>
                            </a>
                            <a class="link text-decoration-none p-3" href="{% url 'contact' %}"
                                class="nav-link rounded-pill border border-0 d-flex align-items-center gap-1"
                                style="--bs-bg-opacity: 0.5;">
                                <i class="bi bi-chat-left"></i>
                                <span>Contact Us</span>
                            </a>
                        </nav>
                    </div>
                    <div class="d-flex flex-column topleft heightofnavbar position-relative justify-content-end">
                        <div class="inverted-topleft-corner bg-accent-subtle"></div>
                    </div>
                </span>
            </div>
        </div>

        <div class="fixed-top">
            <nav id="navbar"
                class="navbar bg-accent-subtle align-items-center justify-content-between justify-content-sm-start z-1 p-0">
                <div id="nav-menu-button-container" class="nav-menu-button-container p-3 m-1">
                    <div id="nav-menu" class="nav-menu rounded-circle border border-0" onclick="Menu(this)">
                        <div id="nav-menu-hamicon" class="hamicon">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                        </div>
                    </div>
                </div>
                <a class="link text-decoration-none" href="{% url 'index' %}">
                    <div class="d-flex gap-3">
                        <img class="img-fluid" style="height: 42px" src="/static/assets/aus-logo.png"
                            alt="Assam University">
                        <div class="text-center text-sm-start">
                            <p class="m-0 fs-6">TPC | CSE | TSSOT</p>
                            <p class="m-0 fs-7">Assam University</p>
                        </div>
                    </div>
                </a>
                {% if request.user.is_authenticated %}
                <div class="ms-0 ms-sm-auto me-0 me-sm-3 dropdown">
                    <a href="#" class="link text-decoration-none nav-link rounded-pill border border-0 d-flex align-items-center px-3 m-1 gap-1 fs-3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end me-3 me-sm-0">
                        {% if request.user.role == 'student' %}
                        <li><a href="{% url 'academic_info' request.user.student_profile.pk %}" class="dropdown-item">View Profile</a></li>
                        <li><a href="{% url 'resume' request.user.pk %}" target="_blank" class="dropdown-item">View Resume</a></li>
                        {% elif request.user.role == 'staff' %}
                        <li><a href="{% url 'staff_info' request.user.staff_profile.pk %}" class="dropdown-item">View Profile</a></li>
                        {% elif request.user.role == 'recruiter' %}
                        <li><a href="{% url 'recruiter_info' request.user.recruiter_profile.pk %}" class="dropdown-item">View Profile</a></li>
                        {% endif %}
                        <li><a href="{% url 'build_profile' request.user.pk %}" class="dropdown-item">Build Profile</a></li>
                        <li><a href="{% url 'sign_out' %}?next={{ request.path }}" class="dropdown-item">Logout</a></li>
                    </ul>
                </div>
                {% else %}
                <a href="{% url 'sign_in' %}?next={{ request.path }}"
                    class="link text-decoration-none ms-0 ms-sm-auto nav-link rounded-pill border border-0 d-flex align-items-center px-3 m-1 gap-1">
                    <span>Login</span>
                </a>
                {% endif %}
            </nav>
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'scripts/navbar.js' %}"></script>
{% endblock %}