{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TPC | CSE | AUS{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'build/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-icons.min.css' %}">
    <script src="{% static 'scripts/replaceabbreviations.js' %}"></script>
    {% block head %}{% endblock %}
</head>

<body data-bs-spy="scroll" data-bs-target="#nav" data-bs-smooth-scroll="true" class="cursor-none" tabindex="0"
    data-bs-theme="light">
    {% block body %}{% endblock %}
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
</body>

</html>