{% extends "base.html" %}

{% block title %}Student Profile | TPC | CSE | AUS{% endblock %}

{% load template_filters %}
{% block content %}
<div class="container-lg col-xxl-8 p-3 p-sm-4 p-md-5">
    <h2 class="fw-bold text-body-emphasis lh-1 mb-3">Your Student Profile</h2>
    <form action="#add-notie-form" method="POST" class="py-3">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{ form.course }}
            {{ form.course.label_tag }}
        </div>
        <div class="row">
            <div class="col-12 col-md">
                <div class="form-floating mb-3">
                    {{ form.registration_number }}
                    {{ form.registration_number.label_tag }}
                    <div class="form-text ms-3">
                        {{ form.registration_number.help_text }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm">
                <div class="input-group mb-3">
                    <div id="id_id_number_prefix" class="input-group-text bg-transparent">
                    </div>
                    <div class="form-floating">
                        {{ form.id_number }}
                        {{ form.id_number.label_tag }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="">
                    <div id="id_roll" class="input-group-text bg-transparent d-none">
                    </div>
                    <div class="form-floating">
                        {{ form.number }}
                        {{ form.number.label_tag }}
                    </div>
                </div>
                <div class="form-text ms-3">
                    {{ form.number.help_text }}
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary btn-lg w-100 my-3" value="Submit">
        {% if success %}
        <div class="alert alert-success" role="alert">
            <i class="bi bi-check-circle"></i>
            <span>{{ success }}</span>
        </div>
        {% endif %}
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <i class="bi bi-exclamation-triangle"></i>
            <span>{{ error }}</span>
        </div>
        {% endif %}
        {% if warning %}
        <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-circle"></i>
            <span>{{ error }}</span>
        </div>
        {% endif %}
    </form>
</div>
<script>
    course = document.getElementById("id_course");
    registration_number = document.getElementById("id_registration_number");
    id_number_prefix = document.getElementById("id_id_number_prefix");
    id_roll = document.getElementById("id_roll");
    registration_year = `${registration_number.value}`.slice(0, 4);
    course.addEventListener("change", () => {
        update_id_number_prefix();
    });
    registration_number.addEventListener("input", () => {
        registration_year = `${registration_number.value}`.slice(0, 4);
        update_id_number_prefix();
        update_id_roll();
    });
    function update_id_number_prefix() {
        registration_year_2 = registration_year.slice(2, 4)
        id_number_prefix.innerHTML = `${registration_year_2}CSE${course.value.toUpperCase() == 'B.TECH' ? 'BTC' : course.value.toUpperCase() == 'M.TECH' ? 'MTC' : 'PHD'}`;
    }
    function update_id_roll() {
        current_year = new Date().getFullYear();
        sem = new Date().getFullYear()-parseInt(registration_year)
        sem = String(sem).padStart(2, '0');
        registration_year_2 = registration_year.slice(2, 4)
        current_year = String(current_year).slice(2, 4)
        id_roll.innerHTML = `${sem}${current_year}${registration_year_2}`
    }
    update_id_number_prefix();
    document.getElementById("id_id_number").value = String(document.getElementById("id_id_number").value).padStart(3, '0');
    update_id_roll();
</script>
{% endblock %}