{% extends "base.html" %}

{% block title %}Recruiter Info | TPC | CSE | AUS{% endblock %}

{% block content %}
<div class="container-md col-xxl-8 p-3 p-sm-4 p-md-5">
    <div id="recruiter-info">
        <div class="d-flex align-items-center gap-3 pe-0 my-5">
            <i class="bi bi-person-circle display-3 fw-bold text-body-emphasis lh-1"></i>
            <div class="flex-fill">
                <strong class="display-5 fw-bold text-body-emphasis lh-1">{{ user.full_name }}</strong>
                <p class="fs-5 text-body-secondary mb-0">{{ user.subtext }}</p>
            </div>
            {% if change_profile_form %}
            <a class="btn border border-0 m-0" href="#" data-bs-toggle="modal"
                data-bs-target="#edit-recruiter-info-modal">
                <i class="bi bi-pen"></i>
            </a>
            <div class="modal fade" id="edit-recruiter-info-modal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div
                    class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
                    <div class="modal-content">
                        <div class="modal-header">
                            <strong class="modal-title fs-3 fw-bold text-body-emphasis">
                                Staff Details
                            </strong>
                            <button type="button" class="btn-close m-2" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="edit-recruiter-info-form" action="{% url 'change_recruiter_profile' profile.pk %}"
                                method="POST">
                                {% csrf_token %}
                                <div class="row g-0 gap-3">
                                    <div class="col-12 col-sm">
                                        <div class="form-floating mb-3">
                                            {{ change_profile_form.designation }}
                                            {{ change_profile_form.designation.label_tag }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm">
                                        <div class="form-floating mb-3">
                                            {{ change_profile_form.company_name }}
                                            {{ change_profile_form.company_name.label_tag }}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <input type="submit" form="edit-recruiter-info-form" class="btn btn-primary btn-lg w-100 m-0"
                            value="Save" onclick="if (this.form.checkValidity() === false) { this.form.reportValidity(); return; } this.disabled = true; this.value = 'Saving...'; this.form.submit();">
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex align-items-center gap-3">
                <i class="bi bi-person-vcard fs-1"></i>
                <div>
                    <strong class="fw-bold text-body-emphasis lh-1 fs-5">{{ profile.company_name }}</strong>
                    <small class="d-block text-body-secondary">Company</small>
                </div>
            </li>
            <li class="list-group-item d-flex align-items-center gap-3">
                <i class="bi bi-file-text fs-1"></i>
                <div>
                    <strong class="fw-bold text-body-emphasis lh-1 fs-5">
                        {{ profile.designation }}
                    </strong>
                    <small class="d-block text-body-secondary">Designation</small>
                </div>
            </li>
        </ul>
    </div>

    {% if request.user in user.edit_users %}
    <a class="btn btn-primary btn-lg w-100 m-0" href="{% url 'build_profile' user.pk %}">
        Proceed
    </a>
    {% endif %}

    {% if success %}
    <div class="alert alert-success" role="alert">
        <i class="bi bi-check-circle"></i>
        <span>{{ success }}</span>
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger" role="alert">
        <i class="bi bi-exclamation-triangle"></i>
        <span>{{ error }}</span>
    </div>
    {% endif %}
    {% if warning %}
    <div class="alert alert-warning" role="alert">
        <i class="bi bi-exclamation-circle"></i>
        <span>{{ error }}</span>
    </div>
    {% endif %}
</div>
<script>
    document.querySelectorAll('.replace-abbreviation').forEach((element, index) => {
        element.innerHTML = replaceAbbreviations(element.innerHTML);
    });
</script>
{% endblock %}