{% extends "base.html" %}

{% block title %}Address | TPC | CSE | AUS{% endblock %}

{% block content %}
<div class="container-lg col-xxl-8 p-3 p-sm-4 p-md-5">
    <div id="add-notie-form" class="col my-3 p-lg-4">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Tell Us Where You are from</h1>
        <form action="#add-notie-form" method="POST" class="py-3">
            {% csrf_token %}
            <div class="form-floating mb-3">
                {{ form.address }}
                {{ form.address.label_tag  }}
            </div>
            <div class="form-floating mb-3">
                {{ form.city }}
                {{ form.city.label_tag  }}
            </div>
            <div class="form-floating mb-3">
                {{ form.state }}
                {{ form.state.label_tag  }}
            </div>
            <div class="form-floating mb-3">
                {{ form.country }}
                {{ form.country.label_tag  }}
            </div>
            <div class="form-floating">
                {{ form.pincode }}
                {{ form.pincode.label_tag  }}
            </div>
            <input type="submit" class="btn btn-primary btn-lg w-100 my-3" value="Submit">
            {% if success %}
            <div class="alert alert-success" role="alert">
                <i class="bi bi-check-circle"></i>
                <span>{{ success }}</span>
            </div>
            {% endif %}
            {% if error %}
            <div class="alert alert-danger" role="alert">
                <i class="bi bi-exclamation-triangle"></i>
                <span>{{ error }}</span>
            </div>
            {% endif %}
            {% if warning %}
            <div class="alert alert-warning" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <span>{{ error }}</span>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}