{% extends "base.html" %}

{% block title %}Build Profile | TPC | CSE | AUS{% endblock %}

{% block content %}
<div class="container-lg col-xxl-8 p-3 p-sm-4 p-md-5">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1">Let's Build Your Profile</h1>
    <ul class="list-group list-group-flush my-5">
        <li class="list-group-item list-group-item-action list-group-item-accent">
            <a href="{% url 'update_personal_contact_info' profile.user.pk %}"
                class="d-flex align-items-center justify-content-between m-0 p-4 icon-link icon-link-hover no-shadow">
                <div class="d-flex align-items-center gap-4">
                    <i class="bi  bi-person-vcard display-5"></i>
                    <div class="me-auto">
                        <h2 class="fw-bold text-body-emphasis lh-1">Personal and Contact Information</h2>
                        <div>Your name, age, about, emails, phone numbers and addresses etc.</div>
                    </div>
                </div>
                <i class="bi bi-chevron-right h3"></i>
            </a>
        </li>
        {% if request.user.role == 'student' %}
        <li class="list-group-item list-group-item-action list-group-item-accent">
            <a href="{% url 'update_academic_info' profile.pk %}"
                class="d-flex align-items-center justify-content-between m-0 p-4 icon-link icon-link-hover no-shadow">
                <div class="d-flex align-items-center gap-4">
                    <i class="bi  bi-receipt display-5"></i>
                    <div class="me-auto">
                        <h2 class="fw-bold text-body-emphasis lh-1">Academic Info</h2>
                        <div>Your Academic Details and Semester Report cards.</div>
                    </div>
                </div>
                <i class="bi bi-chevron-right h3"></i>
            </a>
        </li>
        {% endif %}
        {% if request.user.role == 'staff' %}
        <li class="list-group-item list-group-item-action list-group-item-accent">
            <a href="{% url 'update_staff_info' profile.pk %}"
                class="d-flex align-items-center justify-content-between m-0 p-4 icon-link icon-link-hover no-shadow">
                <div class="d-flex align-items-center gap-4">
                    <i class="bi bi-receipt display-5"></i>
                    <div class="me-auto">
                        <h2 class="fw-bold text-body-emphasis lh-1">Staff Info</h2>
                        <div>Your Staff Details.</div>
                    </div>
                </div>
                <i class="bi bi-chevron-right h3"></i>
            </a>
        </li>
        {% endif %}
        {% if request.user.role == 'recruiter' %}
        <li class="list-group-item list-group-item-action list-group-item-accent">
            <a href="{% url 'update_recruiter_info' profile.pk %}"
                class="d-flex align-items-center justify-content-between m-0 p-4 icon-link icon-link-hover no-shadow">
                <div class="d-flex align-items-center gap-4">
                    <i class="bi bi-receipt display-5"></i>
                    <div class="me-auto">
                        <h2 class="fw-bold text-body-emphasis lh-1">Recruiter Info</h2>
                        <div>Your Company and Designation.</div>
                    </div>
                </div>
                <i class="bi bi-chevron-right h3"></i>
            </a>
        </li>
        {% else %}
        <li class="list-group-item list-group-item-action list-group-item-accent">
            <a href="{% url 'update_education_info' profile.user.pk %}"
                class="d-flex align-items-center justify-content-between m-0 p-4 icon-link icon-link-hover no-shadow">
                <div class="d-flex align-items-center gap-4">
                    <i class="bi bi-bookmark-star display-5"></i>
                    <div class="me-auto">
                        <h2 class="fw-bold text-body-emphasis lh-1">Education, Certificates, Skills</h2>
                        <div>Your Past Educational Qualification, Certifications, Skills, Spoken Languages etc.</div>
                    </div>
                </div>
                <i class="bi bi-chevron-right h3"></i>
            </a>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-accent">
            <a href="{% url 'update_experience_info' profile.user.pk %}"
                class="d-flex align-items-center justify-content-between m-0 p-4 icon-link icon-link-hover no-shadow">
                <div class="d-flex align-items-center gap-4">
                    <i class="bi bi-briefcase display-5"></i>
                    <div class="me-auto">
                        <h2 class="fw-bold text-body-emphasis lh-1">Show Us where you applied your Skills</h2>
                        <div>Work Experiences and Projects You have worked on.</div>
                    </div>
                </div>
                <i class="bi bi-chevron-right h3"></i>
            </a>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-accent">
            <a href="{% url 'update_ip_info' profile.user.pk %}"
                class="d-flex align-items-center justify-content-between m-0 p-4 icon-link icon-link-hover no-shadow">
                <div class="d-flex align-items-center gap-4">
                    <i class="bi bi-journals display-5"></i>
                    <div class="me-auto">
                        <h2 class="fw-bold text-body-emphasis lh-1">Intellectual Properties</h2>
                        <div>Research Papers, Publications etc. you authored or contributed.</div>
                    </div>
                </div>
                <i class="bi bi-chevron-right h3"></i>
            </a>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-accent">
            <a href="{% url 'update_other_info' profile.user.pk %}"
                class="d-flex align-items-center justify-content-between m-0 p-4 icon-link icon-link-hover no-shadow">
                <div class="d-flex align-items-center gap-4">
                    <i class="bi bi-info-square display-5"></i>
                    <div class="me-auto">
                        <h2 class="fw-bold text-body-emphasis lh-1">What else?</h2>
                        <div>Achievements, conducted Conferences/Events, Presentations or other things you want to
                            mention.</div>
                    </div>
                </div>
                <i class="bi bi-chevron-right h3"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}