{% extends "base.html" %}

{% block title %}Personal Info | TPC | CSE | AUS{% endblock %}

{% block content %}
<div class="container-lg col-xxl-8 p-3 p-sm-4 p-md-5">
    <div id="personal-info-form" class="col my-3 p-lg-4">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Tell Us about Yourself</h1>
        <form action="#personal-info-form" method="POST" class="py-3">
            {% csrf_token %}
            <div class="row gap-3 g-0 mb-3">
                <div class="col-12 col-sm">
                    <div class="form-floating">
                        {{ form.first_name }}
                        {{ form.first_name.label_tag }}
                    </div>
                </div>
                <div class="col-12 col-sm">
                    <div class="form-floating">
                        {{ form.last_name }}
                        {{ form.last_name.label_tag }}
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                {{ form.date_of_birth }}
                {{ form.date_of_birth.label_tag }}
            </div>
            <div class="form-floating">
                {{ form.bio }}
                {{ form.bio.label_tag }}
                <div class="form-text ms-3">
                    Put full form of abbreviations in brackets. Eg. HTML (HyperText Markup Language)
                </div>
            </div>
            <div class="row g-0 gap-3 my-3">
                <input type="submit" class="col-12 col-sm-6 btn btn-primary btn-lg m-0" value="Submit">
                <a class="col btn btn-primary btn-lg w-100 m-0" href="{% url 'build_profile' %}">
                    Proceed
                </a>
            </div>
            {% if success %}
            <div class="alert alert-success" role="alert">
                <i class="bi bi-check-circle"></i>
                <span>{{ success }}</span>
            </div>
            {% endif %}
            {% if error %}
            <div class="alert alert-danger" role="alert">
                <i class="bi bi-exclamation-triangle"></i>
                <span>{{ error }}</span>
            </div>
            {% endif %}
            {% if warning %}
            <div class="alert alert-warning" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <span>{{ error }}</span>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}