{% extends "base.html" %}

{% block title %}Log in or Sign Up | TPC | CSE | AUS{% endblock %}

{% block content %}
<div class="container-lg col-xxl-8 p-3 p-sm-4 p-md-5">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1">Who are You?</h1>
    <ul class="list-group list-group-flush my-5">
        <li class="list-group-item list-group-item-action list-group-item-accent">
            <a href="{% url 'student_sign_in' %}"
                class="d-flex align-items-center justify-content-between m-0 p-4 icon-link icon-link-hover no-shadow">
                <div class="d-flex align-items-center gap-4">
                    <i class="bi  bi-person-vcard display-5"></i>
                    <div class="me-auto">
                        <h2 class="fw-bold text-body-emphasis lh-1">Student or Alumni</h2>
                        <div>Get Training and Placement Opportunities</div>
                    </div>
                </div>
                <i class="bi bi-chevron-right h3"></i>
            </a>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-accent">
            <a href="{% url 'staff_sign_in' %}"
                class="d-flex align-items-center justify-content-between m-0 p-4 icon-link icon-link-hover no-shadow">
                <div class="d-flex align-items-center gap-4">
                    <i class="bi bi-bookmark-star display-5"></i>
                    <div class="me-auto">
                        <h2 class="fw-bold text-body-emphasis lh-1">Staff</h2>
                        <div>Faculty, Technical Staff, Non Teaching Staff</div>
                    </div>
                </div>
                <i class="bi bi-chevron-right h3"></i>
            </a>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-accent">
            <a href="{% url 'recruiter_sign_in' %}"
                class="d-flex align-items-center justify-content-between m-0 p-4 icon-link icon-link-hover no-shadow">
                <div class="d-flex align-items-center gap-4">
                    <i class="bi bi-briefcase display-5"></i>
                    <div class="me-auto">
                        <h2 class="fw-bold text-body-emphasis lh-1">Recruiter</h2>
                        <div>Recruit Students, Provide Taining and Placement Opportunities</div>
                    </div>
                </div>
                <i class="bi bi-chevron-right h3"></i>
            </a>
        </li>
    </ul>
</div>
{% endblock %}