{% extends "base.html" %}

{% block title %}Users | TPC | CSE | AUS{% endblock %}

{% load template_filters %}
{% block content %}
<div class="container-lg col-xxl-8 p-3 p-sm-4 p-md-5">
    <table>
        <tr>
            <th>Sl no.</th>
            {% for header in headers %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            {% for header in headers %}
            <td>{{ user|get_item:header }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}