{% extends "base.html" %}

{% block title %}Education and Skills | TPC | CSE | AUS{% endblock %}

{% load template_filters %}
{% block content %}
<div class="container-lg col-xxl-8 p-3 p-sm-4 p-md-5">
    <h1 class="fw-bold display-5 text-body-emphasis lh-1 mb-5">Your Education, Certification, Skills etc.</h1>
    {% if othereducations|length or write_permission %}
    <div id="other-educations" class="my-5">
        <div class="d-flex align-items-center justify-content-between">
            <h2 class="fw-bold text-body-emphasis lh-1 my-4">Past Education</h2>
            {% if write_permission %}
            <a class="btn border border-0 m-0" href="#" data-bs-toggle="modal"
                data-bs-target="#add-other-education-modal">
                <i class="bi bi-plus-circle"></i>
            </a>
            <div class="modal fade" id="add-other-education-modal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div
                    class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
                    <div class="modal-content">
                        <div class="modal-header">
                            <strong class="modal-title fs-3 fw-bold text-body-emphasis">
                                Add Education
                            </strong>
                            <button type="button" class="btn-close m-0" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="add-other-education-form" action="{% url 'add_other_education' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-floating mb-3">
                                    {{ other_education_form.education }}
                                    {{ other_education_form.education.label_tag }}
                                </div>
                                <div class="form-floating mb-3">
                                    {{ other_education_form.specialization }}
                                    {{ other_education_form.specialization.label_tag }}
                                    <div class="form-text ms-3">
                                        {{ other_education_form.specialization.help_text }}
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    {{ other_education_form.institution }}
                                    {{ other_education_form.institution.label_tag }}
                                    <div class="form-text ms-3">
                                        {{ other_education_form.institution.help_text }}
                                    </div>
                                </div>
                                <div class="row g-0 gap-3">
                                    <div class="col-12 col-lg-5 col-xl">
                                        <div class="input-group">
                                            <div class="form-floating">
                                                {{ other_education_form.grade_point }}
                                                {{ other_education_form.grade_point.label_tag }}
                                            </div>
                                            <div class="input-group-text bg-transparent">
                                                out of 10
                                            </div>
                                        </div>
                                        <div class="form-text ms-3">
                                            {{ other_education_form.grade_point.help_text }}
                                        </div>
                                    </div>
                                    <div class="col form-floating">
                                        {{ other_education_form.year }}
                                        {{ other_education_form.year.label_tag }}
                                    </div>
                                    <div class="col">
                                        <div class="input-group">
                                            <div class="form-floating">
                                                {{ other_education_form.duration }}
                                                {{ other_education_form.duration.label_tag }}
                                            </div>
                                            <div class="input-group-text bg-transparent">
                                                Years
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" form="add-other-education-form"
                                class="btn btn-primary btn-lg m-0 w-100" value="Add"
                                onclick="if (this.form.checkValidity() === false) { this.form.reportValidity(); return; } this.disabled = true; this.value = 'Adding...'; this.form.submit();">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <ul class="list-group list-group-flush">
            {% for education in othereducations %}
            <li class="list-group-item">
                <div>
                    <h4 class="fw-bold text-body-emphasis lh-4 mb-0">
                        <abbr title="{{ education.get_education_display }}" class="initialism">
                            {{ education.0.education}}
                        </abbr>
                    </h4>
                    <p class="replace-abbreviation text-body-emphasis mb-2">{{ education.0.specialization }}</p>
                </div>
                <p class="mb-0">from <strong class="replace-abbreviation">{{ education.0.institution }}</strong></p>
                <p class="mb-0">with <strong>{{ education.0.grade_point }} points</strong> out of 10</p>
                <p>on <strong>{{ education.0.year }}</strong> in <strong>{{ education.0.duration }} years</strong></p>
                {% if write_permission %}
                <span class="d-flex gap-3">
                    <a class="btn border border-0 m-0" href="#" data-bs-toggle="modal"
                        data-bs-target="#change-other-education-{{ education.0.pk }}-modal">
                        <i class="bi bi-pen"></i>
                    </a>
                    <div class="modal fade" id="change-other-education-{{ education.0.pk }}-modal"
                        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div
                            class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <strong class="modal-title fs-3 fw-bold text-body-emphasis">
                                        Edit Education
                                    </strong>
                                    <button type="button" class="btn-close m-0" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="change-other-education-{{ education.0.pk }}-form"
                                        action="{% url 'change_other_education' education.0.pk %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-floating mb-3">
                                            {{ education.1.education }}
                                            {{ education.1.education.label_tag }}
                                        </div>
                                        <div class="form-floating mb-3">
                                            {{ education.1.specialization }}
                                            {{ education.1.specialization.label_tag }}
                                            <div class="form-text ms-3">
                                                {{ education.1.specialization.help_text }}
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            {{ education.1.institution }}
                                            {{ education.1.institution.label_tag }}
                                            <div class="form-text ms-3">
                                                {{ education.1.institution.help_text }}
                                            </div>
                                        </div>
                                        <div class="row g-0 gap-3">
                                            <div class="col-12 col-lg-5 col-xl">
                                                <div class="input-group">
                                                    <div class="form-floating">
                                                        {{ education.1.grade_point }}
                                                        {{ education.1.grade_point.label_tag }}
                                                    </div>
                                                    <div class="input-group-text bg-transparent">
                                                        out of 10
                                                    </div>
                                                </div>
                                                <div class="form-text ms-3">
                                                    {{ education.1.grade_point.help_text }}
                                                </div>
                                            </div>
                                            <div class="col form-floating">
                                                {{ education.1.year }}
                                                {{ education.1.year.label_tag }}
                                            </div>
                                            <div class="col">
                                                <div class="input-group">
                                                    <div class="form-floating">
                                                        {{ education.1.duration }}
                                                        {{ education.1.duration.label_tag }}
                                                    </div>
                                                    <div class="input-group-text bg-transparent">
                                                        Years
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" form="change-other-education-{{ education.0.pk }}-form"
                                        class="btn btn-primary btn-lg m-0 w-100" value="Save"
                                        onclick="if (this.form.checkValidity() === false) { this.form.reportValidity(); return; } this.disabled = true; this.value = 'Saving...'; this.form.submit();">
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn border border-0 m-0" href="#" data-bs-toggle="modal"
                        data-bs-target="#delete-other-education-{{  education.0.pk }}-modal">
                        <i class="bi bi-x-circle"></i>
                    </a>
                    <div class="modal fade" id="delete-other-education-{{  education.0.pk }}-modal"
                        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div
                            class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <strong class="modal-title fs-3 fw-bold text-body-emphasis">
                                        Confirmation
                                    </strong>
                                    <button type="button" class="btn-close m-0" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p class="replace-abbreviation mb-0">
                                        Delete {{ education.0.education }} from {{ education.0.institution }}?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <form class="w-100 m-0" action="{% url 'delete_other_education'  education.0.pk %}"
                                        method="POST">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-danger btn-lg border border-0 w-100 m-0"
                                            value="Delete">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if certifications|length or write_permission %}
    <div id="certifications" class="my-5">
        <div class="d-flex align-items-center justify-content-between">
            <h2 class="fw-bold text-body-emphasis lh-1 my-4">Certifications</h2>
            {% if write_permission %}
            <a class="btn border border-0 m-0" href="#" data-bs-toggle="modal"
                data-bs-target="#add-certification-modal">
                <i class="bi bi-plus-circle"></i>
            </a>
            <div class="modal fade" id="add-certification-modal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div
                    class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
                    <div class="modal-content">
                        <div class="modal-header">
                            <strong class="modal-title fs-3 fw-bold text-body-emphasis">
                                Add Education
                            </strong>
                            <button type="button" class="btn-close m-0" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="add-certification-form" action="{% url 'add_certification' %}" method="POST">
                                {% csrf_token %}
                                <div class="d-none">
                                    {{ certification_form.user }}
                                </div>
                                <div class="form-floating mb-3">
                                    {{ certification_form.title }}
                                    {{ certification_form.title.label_tag }}
                                </div>
                                <div class="row gap-3 g-0">
                                    <div class="col-12 col-sm form-floating mb-3">
                                        {{ certification_form.issuer }}
                                        {{ certification_form.issuer.label_tag }}
                                    </div>
                                    <div class="col-12 col-sm form-floating mb-3">
                                        {{ certification_form.issue_date }}
                                        {{ certification_form.issue_date.label_tag }}
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    {{ certification_form.description }}
                                    {{ certification_form.description.label_tag }}
                                </div>
                                <div class="form-text">
                                    Put full form of abbreviations in brackets. Eg. HTML (HyperText Markup Language)
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" form="add-certification-form" class="btn btn-primary btn-lg m-0 w-100"
                                value="Add"
                                onclick="if (this.form.checkValidity() === false) { this.form.reportValidity(); return; } this.disabled = true; this.value = 'Adding...'; this.form.submit();">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <ul class="list-group list-group-flush">
            {% for certification in certifications %}
            <li class="list-group-item">
                <div>
                    <h4 class="replace-abbreviation fw-bold text-body-emphasis lh-4 mb-0">
                        {{ certification.0.title }}
                    </h4>
                    <p class="replace-abbreviation text-body-emphasis mb-0">
                        {{ certification.0.issuer}}
                    </p>
                    <p class="text-body-emphasis mb-2">{{ certification.0.issue_date }}</p>
                </div>
                <p class="replace-abbreviation">{{ certification.0.description }}</p>
                {% if write_permission %}
                <span class="d-flex gap-3">
                    <a class="btn border border-0 m-0" href="#" data-bs-toggle="modal"
                        data-bs-target="#change-certification-{{ certification.0.pk }}-modal">
                        <i class="bi bi-pen"></i>
                    </a>
                    <div class="modal fade" id="change-certification-{{ certification.0.pk }}-modal"
                        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div
                            class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <strong class="modal-title fs-3 fw-bold text-body-emphasis">
                                        Edit Education
                                    </strong>
                                    <button type="button" class="btn-close m-0" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="change-certification-{{ certification.0.pk }}-modal"
                                        action="{% url 'change_certification' certification.0.pk %}" method="POST">
                                        {% csrf_token %}
                                        <div class="d-none">
                                            {{ certification.1.user }}
                                        </div>
                                        <div class="form-floating mb-3">
                                            {{ certification.1.title }}
                                            {{ certification.1.title.label_tag }}
                                        </div>
                                        <div class="row gap-3 g-0">
                                            <div class="col-12 col-sm form-floating mb-3">
                                                {{ certification.1.issuer }}
                                                {{ certification.1.issuer.label_tag }}
                                            </div>
                                            <div class="col-12 col-sm form-floating mb-3">
                                                {{ certification.1.issue_date }}
                                                {{ certification.1.issue_date.label_tag }}
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            {{ certification.1.description }}
                                            {{ certification.1.description.label_tag }}
                                        </div>
                                        <div class="form-text">
                                            Put full form of abbreviations in brackets. Eg. HTML (HyperText Markup
                                            Language)
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" form="change-certification-{{ certification.0.pk }}-modal"
                                        class="btn btn-primary btn-lg m-0 w-100" value="Save"
                                        onclick="if (this.form.checkValidity() === false) { this.form.reportValidity(); return; } this.disabled = true; this.value = 'Saving...'; this.form.submit();">
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn border border-0 m-0" href="#" data-bs-toggle="modal"
                        data-bs-target="#delete-certification-{{ certification.0.pk }}-modal">
                        <i class="bi bi-x-circle"></i>
                    </a>
                    <div class="modal fade" id="delete-certification-{{ certification.0.pk }}-modal"
                        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div
                            class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <strong class="modal-title fs-3 fw-bold text-body-emphasis">
                                        Confirmation
                                    </strong>
                                    <button type="button" class="btn-close m-0" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p class="replace-abbreviation mb-0">
                                        Delete {{ certification.0.title }} from {{ certification.0.issuer }}?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <form class="w-100 m-0" action="{% url 'delete_certification' certification.0.pk %}"
                                        method="POST">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-danger btn-lg border border-0 w-100 m-0"
                                            value="Delete">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if skills|length or write_permission %}
    <div id="skills" class="my-5">
        <h2 class="fw-bold text-body-emphasis lh-1 my-4">Your expertise</h2>
        <div class="d-flex flex-wrap align-items-center gap-2 my-3">
            {% for skill in skills %}
            <div class="badge d-flex align-items-center rounded-pill text-bg-accent gap-1">
                <h6 class="replace-abbreviation text-start fw-bold mb-0 lh-1">
                    {{ skill.name }}
                </h6>
                <form action="{% url 'delete_skill' user.pk skill.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn border border-0 m-0 p-0" data-bs-toggle="tooltip"
                        data-bs-title="Remove">
                        <i class="bi bi-x-circle fs-6"></i>
                    </button>
                </form>
            </div>
            {% endfor %}
        </div>
        <form id="skill-form" action="{% url 'add_skill' user.pk %}" method="POST">
            {% csrf_token %}
            <div class="d-none">
                {{ skill_form.user }}
            </div>
            <div class="input-group mb-3">
                <div class="form-floating">
                    {{ skill_form.name }}
                    {{ skill_form.name.label_tag }}
                </div>
                <button class="btn border m-0" data-bs-toggle="tooltip" data-bs-title="Add">
                    <i class="bi bi-plus-circle"></i>
                </button>
            </div>
            <datalist id="skill-data-list">
            </datalist>
            <div class="form-text ms-2">
                <strong>Guidelines:</strong>
                <ul>
                    <li>
                        Follow appropriate naming convention and capitalization. Eg. Python, C++, JavaScript,
                        TypeScript, etc.
                    </li>
                    <li>
                        Put full form of abbreviations in brackets. Eg. CSS (Cascading Style Sheets), MS (Microsoft)
                        Excel, etc.
                    </li>
                </ul>
            </div>
        </form>
    </div>
    {% endif %}
    {% if languages|length or write_permission %}
    <div id="languages" class="my-5">
        <h2 class="fw-bold text-body-emphasis lh-1 my-4">What do you speak?</h2>
        <div class="d-flex flex-wrap align-items-center gap-2 my-3">
            {% for language in languages %}
            <div class="badge d-flex align-items-center rounded-pill text-bg-accent gap-1">
                <h6 class="text-start fw-bold mb-0 lh-1">
                    {{ language.name }}
                </h6>
                <form action="{% url 'delete_language' user.pk language.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn border border-0 m-0 p-0" data-bs-toggle="tooltip"
                        data-bs-title="Remove">
                        <i class="bi bi-x-circle fs-6"></i>
                    </button>
                </form>
            </div>
            {% endfor %}
        </div>
        <form id="language-form" action="{% url 'add_language' user.pk %}" method="POST">
            {% csrf_token %}
            <div class="d-none">
                {{ language_form.user }}
            </div>
            <div class="input-group mb-3">
                <div class="form-floating">
                    {{ language_form.name }}
                    {{ language_form.name.label_tag }}
                </div>
                <button class="btn border m-0" data-bs-toggle="tooltip" data-bs-title="Add">
                    <i class="bi bi-plus-circle"></i>
                </button>
            </div>
            <datalist id="language-data-list">
            </datalist>
        </form>
    </div>
    {% endif %}
    <a class="btn btn-primary btn-lg w-100 my-3" href="{% url 'build_profile' user.pk %}">Done</a>
</div>
<script>
    document.querySelectorAll('.replace-abbreviation').forEach((element, index) => {
        element.innerHTML = replaceAbbreviations(element.innerHTML);
    });
    skill_name = document.getElementById('id-skill-name')
    skill_options = document.getElementById('skill-data-list')
    skill_name.addEventListener('keyup', function () {
        if (skill_name.value != '')
            fetch(`{% url "skill_autocomplete" %}?q=${skill_name.value}&u={{user.pk}}`)
                .then(response => response.json())
                .then(data => {
                    skill_options.innerHTML = ''
                    data.forEach(option => {
                        newoption = document.createElement('option')
                        newoption.value = option
                        skill_options.appendChild(newoption)
                    });
                });
        else
            skill_options.innerHTML = ''
    });
    language_name = document.getElementById('id-language-name')
    language_options = document.getElementById('language-data-list')
    language_name.addEventListener('keyup', function () {
        if (language_name.value != '')
            fetch(`{% url "language_autocomplete" %}?q=${language_name.value}&u={{user.pk}}`)
                .then(response => response.json())
                .then(data => {
                    language_options.innerHTML = ''
                    data.forEach(option => {
                        newoption = document.createElement('option')
                        newoption.value = option
                        language_options.appendChild(newoption)
                    });
                });
        else
            language_options.innerHTML = ''
    });
</script>
{% endblock %}