{% extends "base.html" %}

{% block title %}Your IP | TPC | CSE | AUS{% endblock %}

{% load template_filters %}
{% block content %}
<div class="container-lg col-xxl-8 p-3 p-sm-4 p-md-5">
    <h1 class="fw-bold display-5 text-body-emphasis lh-1 mb-5">Your Intellectual Properties</h1>
    <div id="patents" class="my-5">
        <div class="d-flex align-items-center justify-content-between">
            <h2 class="fw-bold text-body-emphasis lh-1 my-4">Patents</h2>
            <a class="btn border border-0 m-0" data-bs-toggle="tooltip" data-bs-title="Add new"
                href="{% url 'add_patent' user.pk %}">
                <i class="bi bi-plus-circle"></i>
            </a>
        </div>
        <ul class="list-group list-group-flush">
            {% for patent in patents %}
            <li class="list-group-item">
                <div>
                    <h4 class="replace-abbreviation fw-bold text-body-emphasis lh-4 mb-0">
                        {{ patent.title }}
                    </h4>
                    <p class="mb-0">
                        <small class="text-body-secondary">
                            <i class="bi bi-calendar-event"></i>
                            <span>{{ patent.issue_date }}</span>
                        </small>
                    </p>
                    <p>
                        <small class="text-body-secondary">
                            <i class="bi bi-buildings"></i>
                            <span class="replace-abbreviation">{{ patent.patent_office }}</span>
                            <i class="ms-2 bi bi-ticket-detailed"></i>
                            <span class="replace-abbreviation">{{ patent.patent_number }}</span>
                        </small>
                    </p>
                </div>
                <p class="replace-abbreviation">{{ patent.description }}</p>
                <span class="d-flex gap-3">
                    <a class="btn border border-0 m-0" data-bs-toggle="tooltip" data-bs-title="Edit"
                        href="{% url 'change_patent' patent.pk %}">
                        <i class="bi bi-pen"></i>
                    </a>
                    <form action="{% url 'delete_patent' patent.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn border border-0 m-0" data-bs-toggle="tooltip"
                            data-bs-title="Remove">
                            <i class="bi bi-x-circle"></i>
                        </button>
                    </form>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="publications" class="my-5">
        <div class="d-flex align-items-center justify-content-between">
            <h2 class="fw-bold text-body-emphasis lh-1 my-4">Research Papers and Publications</h2>
            <a class="btn border border-0 m-0" data-bs-toggle="tooltip" data-bs-title="Add new"
                href="{% url 'add_publication' user.pk %}">
                <i class="bi bi-plus-circle"></i>
            </a>
        </div>
        <ul class="list-group list-group-flush">
            {% for publication in publications %}
            <li class="list-group-item">
                <div>
                    <h4 class="replace-abbreviation fw-bold text-body-emphasis lh-4 mb-0">
                        {{ publication.title }}
                    </h4>
                    <p class="mb-0">
                        <small class="text-body-secondary">
                            <i class="bi bi-journal-bookmark"></i>
                            <span>{{ publication.publisher }}</span>
                        </small>
                    </p>
                    <p>
                        <small class="text-body-secondary">
                            <i class="bi bi-calendar-event"></i>
                            <span>{{ publication.publication_date }}</span>
                        </small>
                    </p>
                </div>
                <p class="replace-abbreviation">{{ publication.description }}</p>
                <span class="d-flex gap-3">
                    <a class="btn border border-0 m-0" data-bs-toggle="tooltip" data-bs-title="Edit"
                        href="{% url 'change_publication' publication.pk %}">
                        <i class="bi bi-pen"></i>
                    </a>
                    <form action="{% url 'delete_publication' publication.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn border border-0 m-0" data-bs-toggle="tooltip"
                            data-bs-title="Remove">
                            <i class="bi bi-x-circle"></i>
                        </button>
                    </form>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <a class="btn btn-primary btn-lg w-100 my-3" href="{% url 'build_profile' %}">Done</a>
</div>
<script>
    document.querySelectorAll('.replace-abbreviation').forEach((element, index) => {
        element.innerHTML = replaceAbbreviations(element.innerHTML);
    });
</script>
{% endblock %}